{% extends 'base_memo.html.twig' %}

{% block para %} 
    {{adscripcion.idRolInstitucion.idRol.idPersona.primerNombre}} 
    {{adscripcion.idRolInstitucion.idRol.idPersona.segundoNombre}} 
    {{adscripcion.idRolInstitucion.idRol.idPersona.primerApellido}}
    {{adscripcion.idRolInstitucion.idRol.idPersona.segundoApellido}}
    ({{adscripcion.idRolInstitucion.idRol.idPersona.cedulaPasaporte}})
    <br>Trabajador Académico adscrito al Centro de Estudios Ambientales
{%endblock %}

{% block numero %}{{ correlativo }}{% endblock %}

{% block coordinador %} 
    Prof. Alexis Lozada
    <br>Director (E) Del Centro de Estudios  Ambientales.    
{% endblock %}


{% block asunto %}
    Adscripción al Centro de Estudios Ambientales
{%endblock%} 

{% block fecha %}
    {{ "now"|date("d/m/Y") }}
{%endblock%}

 {% block cuerpo %}
     <p class="text-justify cuerpo-memo">
         Reciba un cordial saludo bolivariano y revolucionario de parte del equipo 
        de trabajo de este Centro de Estudios Ambientales.  La presente es para 
        informar que este Centro reconoce, basado en su interés en el área de 
        <i>{{adscripcion.idLineaInvestigacion.idAreaInvestigacion |capitalize }}</i>
        bajo la línea <i>{{adscripcion.idLineaInvestigacion}}</i>
        con su trabajo de investigación titulado <i>{{adscripcion.tituloTrabajo}}</i> para así dar
        cumplimiento al artículo N° 91 de Reglamento General de la Universidad Bolivariana de
        Venezuela, que estable en su segundo párrafo <i>"Estarán adscritos a cada Centro de Estudios
        , los trabajadores académicos, según el interés, formación y experiencia desarrollada en su
        trayectoria político-académica" y al Artículo N°3 del Reglamento  Del Sistema Integrado Para
El  Desarrollo De Los Trabajadores  Académicos De
La Universidad Bolivariana De Venezuela que dictamina en su primer párrafo <i>"Se entiende por trabajadores 
    académicos de la Universidad Bolivariana de Venezuela, para efectos de este Reglamento, 
    a las ciudadanas y ciudadanos encargados de desarrollar las actividades de formación,
    creación y recreación de saberes e integración socioeducativa, adscritos a los Centros de Estudios y 
    Núcleos Académicos" </i>

<br> &nbsp;&nbsp;&nbsp;&nbsp;En tal sentido, tomando en cuenta la fecha de Adscripción solicitada a través del sistema,: </p>
                            
        <table class="table table-bordered table-condensed">
            <tr>
                <td>
                    Adscrito al Centro de Estudios Avanzados desde
                </td>
                <td>
                    {{ adscripcion.fechaCreacion | date('m-d-Y')}}
                </td>
            </tr>                                                                
        </table>
        
 {% endblock %}
 
 {%block javascripts %} 
     {{ parent() }}
     <script type="text/javascript">
         
     window.onload = function () {
            window.print(); //invoca la impresora tan pronto se carga el documento
            setTimeout(function () { window.close(); }, 100); //cierra la venta si cierra el dialog de imprimir
     }
</script>
 {% endblock %}
