{% extends 'base.html.twig' %}

{% block body %}
    <h1>CursoGrupo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cursoGrupo.id }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if cursoGrupo.FechaInicio %}{{ cursoGrupo.FechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if cursoGrupo.FechaFin %}{{ cursoGrupo.FechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cursoGrupo.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_grupos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_gestion_grupos_edit', { 'id': cursoGrupo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
