{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalles del curso</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path("estudiante_homepage") }}">Estudiante</a>
            </li>
            <li>
                <a>Pagos</a>
            </li>
            <li class="active">
                <strong>Informar Pago</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <i class="fa fa-cc-amex text-success"></i>
                        <i class="fa fa-cc-mastercard text-warning"></i>
                        <i class="fa fa-cc-discover text-danger"></i>
                    </div>
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Estatus Suscripción: {{ suscripcion.idEstatus.nombre }}</a>
                    </h5>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <h2>Resumen</h2>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <strong>Datos del Cliente:</strong>: {{ suscripcion.idInscripcion.idUsuario.username }}<br/>
                                {% endif %}
                                <strong>Curso:</strong>: {{ suscripcion.idInscripcion.idCursoGrupo.idCurso.nombre }}<br/>
                                <strong>Inversión:</strong>: <span class="text-navy">Bsf. {{ suscripcion.idCostoCursoModulo.costo }}</span>
                                <p class="m-t">
                                    {{ suscripcion.idInscripcion.idCursoGrupo.idCurso.descripcion }}

                                </p>

                            </div>
                            {% if is_granted('ROLE_CLIENTE') %}
                            {% if suscripcion.idEstatus.id == 2 %}
                            <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                                {{ form_start(form, {'action': path('suscripcion_edit', {'id': suscripcion.id}), 'method': 'POST'}) }}
                                                {{ form_widget(form) }}

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-primary" type="submit">Informar Pago</button>
                                        </div>
                                    </div>
                                {{ form_end(form) }}

                            </div>
                            {% endif %}
                            {% elseif is_granted('ROLE_ADMIN') and suscripcion.idBanco %}
                                <div class="col-md-4">
                                    <div class="row">
                                        <h2>Datos del Pago</h2>
                                        <strong>Tipo de Pago:</strong> {{ suscripcion.idFormaPago }}<br>
                                        <strong>Banco:</strong> {{ suscripcion.idBanco.nombre }}<br>
                                        <strong>N° de Referencia:</strong>{{ suscripcion.referencia }}
                                    </div>

                                </div>
                                <div class="col-xs-4">
                                    <h2>Acciones</h2>
                                    {% if suscripcion.idEstatus.id == 6 or suscripcion.idEstatus.id == 8 %}
                                        <a data-loading-text="Actualizando Pago..." class="ladda-button ladda-apr btn btn-primary gestion_pago" data-aprobar="true" href="{{ path("ajax_aprobar_pago") }}">Aprobar</a>
                                    {% endif %}
                                    {% if suscripcion.idEstatus.id == 6 or suscripcion.idEstatus.id == 7 %}
                                        <a class="btn btn-danger gestion_pago" data-aprobar="false" href="{{ path("ajax_aprobar_pago")}}" >Rechazar</a>
                                    {% endif %}
                                </div>

                            {% endif %}
                        </div>






                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cart Summary</h5>
                </div>
                <div class="ibox-content">
                            <span>
                                Total
                            </span>
                    <h2 class="font-bold">
                        $390,00
                    </h2>

                    <hr/>
                    <span class="text-muted small">
                                *For United States, France and Germany applicable sales tax will be applied
                            </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                    <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>


                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">

                    <p class="font-bold">
                        Other products you may be interested
                    </p>

                    <hr/>
                    <div>
                        <a href="#" class="product-name"> Product 1</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <a href="#" class="product-name"> Product 2</a>
                        <div class="small m-t-xs">
                            Many desktop publishing packages and web page editors now.
                        </div>
                        <div class="m-t text-righ">

                            <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>




</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var id = {{ suscripcion.id }};

        $('.gestion_pago').on('click', function(e) {
            var $button = $(this);
            // prevents the browser from "following" the link
            e.preventDefault();
            // Start loading

            $button.button('loading');
            var url = $(this).attr('href');
            var aprobar = $(this).data("aprobar");
            $.get(url, { id: id, aprobar:aprobar }, function(data) {
                $button.button('reset');
            });
        });

    </script>
{% endblock %}
