{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Detalles del curso</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path("estudiante_homepage") }}">Estudiante</a>
            </li>
            <li>
                <a>Pagos</a>
            </li>
            <li class="active">
                <strong>Informar Pago</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-md-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <i class="fa fa-cc-amex text-success"></i>
                        <i class="fa fa-cc-mastercard text-warning"></i>
                        <i class="fa fa-cc-discover text-danger"></i>
                    </div>
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Estatus Suscripción: {{ suscripcion.idEstatus.nombre }}</a>
                    </h5>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-4">
                                <h2>Resumen</h2>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <strong>Datos del Cliente:</strong>: {{ suscripcion.idInscripcion.idUsuario.username }}<br/>
                                {% endif %}
                                <strong>Curso:</strong>: {{ suscripcion.idInscripcion.idCursoGrupo.idCurso.nombre }}<br/>
                                <strong>Inversión:</strong>: <span class="text-navy">Bsf. {{ suscripcion.idCostoCursoModulo.costo }}</span>
                                <p class="m-t">
                                    {{ suscripcion.idInscripcion.idCursoGrupo.idCurso.descripcion }}

                                </p>

                            </div>

                            {% if is_granted('ROLE_CLIENTE') %}
                            {% if suscripcion.idEstatus.id == 2 %}




                                        <div class="x_content col-lg-8">

                                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                                <!-- required for floating -->
                                                <!-- Nav tabs -->
                                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Métodos</a>
                                                    </li>
                                                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Transferencia</a>
                                                    </li>
                                                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Tarjeta Crédito</a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div id="myTabContent" class="tab-content">
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active"  id="tab_content1">
                                                        <p class="lead">Métodos de Pago</p>
                                                        <p>Para tu comodidad tenemos métodos de pago desde la
                                                            comodidad de tu hogar, puedes elegir entre hacer una
                                                            transferencia o pagar con Tarjeta de Crédito..</p>
                                                    </div>
                                                    <div class="tab-pane"  id="tab_content2">
                                                        <p class="lead">Transferencia.</p>
                                                        <div class="form-group">
                                                            {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                                            {{ form_start(form, {'action': path('suscripcion_edit', {'id': suscripcion.id}), 'method': 'POST'}) }}
                                                            {{ form_widget(form) }}
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <button class="btn btn-primary" type="submit">Informar Pago</button>
                                                                </div>
                                                            </div>
                                                            {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane"  id="tab_content3">
                                                        <p class="lead">Tarjeta Crédito</p>.
                                                        {#{{ dump(mercado.response.init_point) }}#}
                                                        {#<a class="btn btn-primary" href="{{ mercado.response.sandbox_init_point }}">Pagar T. Crédito</a>#}

                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                            {% endif %}
                            {% elseif is_granted('ROLE_ADMIN') and suscripcion.idBanco %}
                                <div class="col-md-4">
                                    <div class="row">
                                        <h2>Datos del Pago</h2>
                                        <strong>Tipo de Pago:</strong> {{ suscripcion.idFormaPago }}<br>
                                        <strong>Banco:</strong> {{ suscripcion.idBanco.nombre }}<br>
                                        <strong>N° de Referencia:</strong>{{ suscripcion.referencia }}
                                    </div>

                                </div>
                                <div class="col-xs-4">
                                    <h2>Acciones</h2>
                                    {% if suscripcion.idEstatus.id == 6 or suscripcion.idEstatus.id == 8 %}
                                        <a data-loading-text="Actualizando Pago..." class="ladda-button ladda-apr btn btn-primary gestion_pago" data-aprobar="true" href="{{ path("ajax_aprobar_pago") }}">Aprobar</a>
                                    {% endif %}
                                    {% if suscripcion.idEstatus.id == 6 or suscripcion.idEstatus.id == 7 %}
                                        <a class="btn btn-danger gestion_pago" data-aprobar="false" href="{{ path("ajax_aprobar_pago")}}" >Rechazar</a>
                                    {% endif %}
                                </div>

                            {% endif %}
                        </div>






                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            {% for banco in bancos %}
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{ banco.nombre }}</h5>
                </div>
                <div class="ibox-content">
                            <span>
                                Datos de la Cuenta
                            </span>
                    <h4 class="font-bold">
                        {{ banco.descripcion | raw }}
                    </h4>

                    <hr/>
                    <span class="text-muted small">
                                *Para Transferencias desde otros bancos, se debe esperar al proximo día hábil para
                        confirmar la transferencia.
                            </span>
                    {#<div class="m-t-sm">
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                            <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                        </div>
                    </div>#}
                </div>
            </div>
            {% endfor %}
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Contáctanos</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><i class="fa fa-phone"></i> +58 414 6952657</h3>
                    <span class="small">
                                Contáctanos de Lunes a Sábado de 8:00 am hasta 4:00pm.
                            </span>


                </div>
            </div>



        </div>
    </div>




</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var id = {{ suscripcion.id }};

        $('.gestion_pago').on('click', function(e) {
            var $button = $(this);
            // prevents the browser from "following" the link
            e.preventDefault();
            // Start loading

            $button.button('loading');
            var url = $(this).attr('href');
            var aprobar = $(this).data("aprobar");
            $.get(url, { id: id, aprobar:aprobar }, function(data) {
                $button.button('reset');
            });
        });

    </script>
{% endblock %}
