<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}tlprgna!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{asset('assets/vendor/font-awesome/css/font-awesome.min.css')}}" />
            <link rel="stylesheet" href="{{ asset('assets/vendor/animate/animate.min.css') }}"  />
            <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/admin.css') }}"  />
            <link rel="stylesheet" href="{{ asset('assets/vendor/avatar-letter/avatar.min.css') }}"  />

            <style>

                .navbar-login
                {
                    width: 305px;
                    padding: 10px;
                    padding-bottom: 0px;
                }

                .navbar-login-session
                {
                    padding: 10px;
                    padding-bottom: 0px;
                    padding-top: 0px;
                }

                .icon-size
                {
                    font-size: 87px;
                }


                .avatar-container {

                    position: relative;
                    float: left;
                    border-radius: 50%;
                    overflow: hidden;
                    height: 50px;
                    width: 50px;
                    padding: 0;
                    margin: 0;
                    border: none;
                    background-color: black;
                    cursor: pointer;
                    margin-top: 0px;
                    margin-right: 5px;
                }

                .avatar-container::before {
                    content: attr(data) "%";
                    display: block;
                    opacity: 0;
                    width: 40px;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 20px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 200;
                    transition: opacity .3s;
                }
                .avatar-container:hover::before {
                    opacity: 1;
                }

                .avatar {

                    margin: 4px;
                    border-radius: 50%;
                    width: 42px;
                    height: 41px;
                    overflow: hidden;
                    z-index: 100;
                }

                #progress[data="1"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(93.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-2 {*/
                #progress[data="2"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(97.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-3 {*/
                #progress[data="3"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(100.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-4 {*/
                #progress[data="4"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(104.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-5 {*/
                #progress[data="5"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(108deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-6 {*/
                #progress[data="6"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(111.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-7 {*/
                #progress[data="7"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(115.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-8 {*/
                #progress[data="8"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(118.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-9 {*/
                #progress[data="9"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(122.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-10 {*/
                #progress[data="10"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(126deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-11 {*/
                #progress[data="11"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(129.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-12 {*/
                #progress[data="12"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(133.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-13 {*/
                #progress[data="13"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(136.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-14 {*/
                #progress[data="14"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(140.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-15 {*/
                #progress[data="15"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(144deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-16 {*/
                #progress[data="16"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(147.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-17 {*/
                #progress[data="17"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(151.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-18 {*/
                #progress[data="18"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(154.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-19 {*/
                #progress[data="19"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(158.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-20 {*/
                #progress[data="20"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(162deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-21 {*/
                #progress[data="21"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(165.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-22 {*/
                #progress[data="22"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(169.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-23 {*/
                #progress[data="23"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(172.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-24 {*/
                #progress[data="24"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(176.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-25 {*/
                #progress[data="25"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(180deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-26 {*/
                #progress[data="26"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(183.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-27 {*/
                #progress[data="27"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(187.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-28 {*/
                #progress[data="28"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(190.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-29 {*/
                #progress[data="29"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(194.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-30 {*/
                #progress[data="30"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(198deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-31 {*/
                #progress[data="31"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(201.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-32 {*/
                #progress[data="32"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(205.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-33 {*/
                #progress[data="33"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(208.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-34 {*/
                #progress[data="34"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(212.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-35 {*/
                #progress[data="35"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(216deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-36 {*/
                #progress[data="36"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(219.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-37 {*/
                #progress[data="37"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(223.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-38 {*/
                #progress[data="38"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(226.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-39 {*/
                #progress[data="39"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(230.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-40 {*/
                #progress[data="40"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(234deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-41 {*/
                #progress[data="41"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(237.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-42 {*/
                #progress[data="42"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(241.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-43 {*/
                #progress[data="43"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(244.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-44 {*/
                #progress[data="44"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(248.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-45 {*/
                #progress[data="45"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(252deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-46 {*/
                #progress[data="46"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(255.6deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-47 {*/
                #progress[data="47"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(259.2deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-48 {*/
                #progress[data="48"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(262.8deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-49 {*/
                #progress[data="49"] {
                    background-image: linear-gradient(90deg, #ccc 50%, transparent 50%, transparent), linear-gradient(266.4deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-50 {*/
                #progress[data="50"] {
                    background-image: linear-gradient(-90deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-51 {*/
                #progress[data="51"] {
                    background-image: linear-gradient(-86.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-52 {*/
                #progress[data="52"] {
                    background-image: linear-gradient(-82.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-53 {*/
                #progress[data="53"] {
                    background-image: linear-gradient(-79.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-54 {*/
                #progress[data="54"] {
                    background-image: linear-gradient(-75.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-55 {*/
                #progress[data="55"] {
                    background-image: linear-gradient(-72deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-56 {*/
                #progress[data="56"] {
                    background-image: linear-gradient(-68.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-57 {*/
                #progress[data="57"] {
                    background-image: linear-gradient(-64.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-58 {*/
                #progress[data="58"] {
                    background-image: linear-gradient(-61.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-59 {*/
                #progress[data="59"] {
                    background-image: linear-gradient(-57.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-60 {*/
                #progress[data="60"] {
                    background-image: linear-gradient(-54deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-61 {*/
                #progress[data="61"] {
                    background-image: linear-gradient(-50.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-62 {*/
                #progress[data="62"] {
                    background-image: linear-gradient(-46.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-63 {*/
                #progress[data="63"] {
                    background-image: linear-gradient(-43.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-64 {*/
                #progress[data="64"] {
                    background-image: linear-gradient(-39.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-65 {*/
                #progress[data="65"] {
                    background-image: linear-gradient(-36deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-66 {*/
                #progress[data="66"] {
                    background-image: linear-gradient(-32.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-67 {*/
                #progress[data="67"] {
                    background-image: linear-gradient(-28.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-68 {*/
                #progress[data="68"] {
                    background-image: linear-gradient(-25.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-69 {*/
                #progress[data="69"] {
                    background-image: linear-gradient(-21.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-70 {*/
                #progress[data="70"] {
                    background-image: linear-gradient(-18deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-71 {*/
                #progress[data="71"] {
                    background-image: linear-gradient(-14.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-72 {*/
                #progress[data="72"] {
                    background-image: linear-gradient(-10.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-73 {*/
                #progress[data="73"] {
                    background-image: linear-gradient(-7.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-74 {*/
                #progress[data="74"] {
                    background-image: linear-gradient(-3.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-75 {*/
                #progress[data="75"] {
                    background-image: linear-gradient(0deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-76 {*/
                #progress[data="76"] {
                    background-image: linear-gradient(3.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-77 {*/
                #progress[data="77"] {
                    background-image: linear-gradient(7.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-78 {*/
                #progress[data="78"] {
                    background-image: linear-gradient(10.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-79 {*/
                #progress[data="79"] {
                    background-image: linear-gradient(14.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-80 {*/
                #progress[data="80"] {
                    background-image: linear-gradient(18deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-81 {*/
                #progress[data="81"] {
                    background-image: linear-gradient(21.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-82 {*/
                #progress[data="82"] {
                    background-image: linear-gradient(25.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-83 {*/
                #progress[data="83"] {
                    background-image: linear-gradient(28.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-84 {*/
                #progress[data="84"] {
                    background-image: linear-gradient(32.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-85 {*/
                #progress[data="85"] {
                    background-image: linear-gradient(36deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-86 {*/
                #progress[data="86"] {
                    background-image: linear-gradient(39.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-87 {*/
                #progress[data="87"] {
                    background-image: linear-gradient(43.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-88 {*/
                #progress[data="88"] {
                    background-image: linear-gradient(46.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-89 {*/
                #progress[data="89"] {
                    background-image: linear-gradient(50.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-90 {*/
                #progress[data="90"] {
                    background-image: linear-gradient(54deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-91 {*/
                #progress[data="91"] {
                    background-image: linear-gradient(57.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-92 {*/
                #progress[data="92"] {
                    background-image: linear-gradient(61.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-93 {*/
                #progress[data="93"] {
                    background-image: linear-gradient(64.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-94 {*/
                #progress[data="94"] {
                    background-image: linear-gradient(68.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-95 {*/
                #progress[data="95"] {
                    background-image: linear-gradient(72deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-96 {*/
                #progress[data="96"] {
                    background-image: linear-gradient(75.6deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-97 {*/
                #progress[data="97"] {
                    background-image: linear-gradient(79.2deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-98 {*/
                #progress[data="98"] {
                    background-image: linear-gradient(82.8deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-99 {*/
                #progress[data="99"] {
                    background-image: linear-gradient(86.4deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }

                /*  .p-100 {*/
                #progress[data="100"] {
                    background-image: linear-gradient(90deg, #0af 50%, transparent 50%, transparent), linear-gradient(270deg, #0af 50%, #ccc 50%, #ccc);
                }




            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% if (app.request.attributes.get('_route') == 'estudiante_curso_programacion') %} class="mini-navbar" {% endif %} >
        <div id="wrapper">

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                    <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username }}</strong>
                                        </span> <span class="text-muted text-xs block">Administrador <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="mailbox.html">Mailbox</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path("homepage") }}">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                TLP+
                            </div>
                        </li>
                        <li {% if (app.request.attributes.get('_route') == 'estudiante_homepage') or  (app.request.attributes.get('_route') == 'admin_homepage') %} class="active" {% endif %}>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Inicio</span></a>
                            {% else %}
                                <a href="{{ path('estudiante_homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Inicio</span></a>
                            {% endif %}

                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li {% if (app.request.attributes.get('_route') == 'admin_gestion_cursos_index')or  (app.request.attributes.get('_route') == 'admin_gestion_modulos_index') or  (app.request.attributes.get('_route') == 'admin_gestion_temas_index') %} class="active" {% endif %} >
                                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Creación</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li><a href="{{ path('admin_gestion_cursos_index') }}">Gestión de Cursos</a></li>
                                    <li><a href="{{ path('admin_gestion_modulos_index') }}">Gestión de Módulos</a></li>
                                    <li><a href="{{ path('admin_gestion_temas_index') }}">Gestión de Temas</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li>
                            <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="mailbox.html">Inbox</a></li>
                                <li><a href="mail_detail.html">Email view</a></li>
                                <li><a href="mail_compose.html">Compose email</a></li>
                                <li><a href="email_template.html">Email templates</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="form_basic.html">Basic form</a></li>
                                <li><a href="form_advanced.html">Advanced Plugins</a></li>
                                <li><a href="form_wizard.html">Wizard</a></li>
                                <li><a href="form_file_upload.html">File Upload</a></li>
                                <li><a href="form_editors.html">Text Editor</a></li>
                                <li><a href="form_markdown.html">Markdown</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="profile_2.html">Profile v.2</a></li>
                                <li><a href="contacts_2.html">Contacts v.2</a></li>
                                <li><a href="projects.html">Projects</a></li>
                                <li><a href="project_detail.html">Project detail</a></li>
                                <li><a href="teams_board.html">Teams board</a></li>
                                <li><a href="social_feed.html">Social feed</a></li>
                                <li><a href="clients.html">Clients</a></li>
                                <li><a href="full_height.html">Outlook view</a></li>
                                <li><a href="vote_list.html">Vote list</a></li>
                                <li><a href="file_manager.html">File manager</a></li>
                                <li><a href="calendar.html">Calendar</a></li>
                                <li><a href="issue_tracker.html">Issue tracker</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="article.html">Article</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="pin_board.html">Pin board</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="search_results.html">Search results</a></li>
                                <li><a href="lockscreen.html">Lockscreen</a></li>
                                <li><a href="invoice.html">Invoice</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="login_two_columns.html">Login v.2</a></li>
                                <li><a href="forgot_password.html">Forget password</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="500.html">500 Page</a></li>
                                <li class="active"><a href="empty_page.html">Empty page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="toastr_notifications.html">Notification</a></li>
                                <li><a href="nestable_list.html">Nestable list</a></li>
                                <li><a href="agile_board.html">Agile board</a></li>
                                <li><a href="timeline_2.html">Timeline v.2</a></li>
                                <li><a href="diff.html">Diff</a></li>
                                <li><a href="i18support.html">i18 support</a></li>
                                <li><a href="sweetalert.html">Sweet alert</a></li>
                                <li><a href="idle_timer.html">Idle timer</a></li>
                                <li><a href="truncate.html">Truncate</a></li>
                                <li><a href="spinners.html">Spinners</a></li>
                                <li><a href="tinycon.html">Live favicon</a></li>
                                <li><a href="google_maps.html">Google maps</a></li>
                                <li><a href="code_editor.html">Code editor</a></li>
                                <li><a href="modal_window.html">Modal window</a></li>
                                <li><a href="clipboard.html">Clipboard</a></li>
                                <li><a href="forum_main.html">Forum view</a></li>
                                <li><a href="validation.html">Validation</a></li>
                                <li><a href="tree_view.html">Tree view</a></li>
                                <li><a href="loading_buttons.html">Loading buttons</a></li>
                                <li><a href="chat_view.html">Chat view</a></li>
                                <li><a href="masonry.html">Masonry</a></li>
                                <li><a href="tour.html">Tour</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="draggable_panels.html">Draggable Panels</a></li> <li><a href="resizeable_panels.html">Resizeable Panels</a></li>
                                <li><a href="buttons.html">Buttons</a></li>
                                <li><a href="video.html">Video</a></li>
                                <li><a href="tabs_panels.html">Panels</a></li>
                                <li><a href="tabs.html">Tabs</a></li>
                                <li><a href="notifications.html">Notifications & Tooltips</a></li>
                                <li><a href="badges_labels.html">Badges, Labels, Progress</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="table_basic.html">Static Tables</a></li>
                                <li><a href="table_data_tables.html">Data Tables</a></li>
                                <li><a href="table_foo_table.html">Foo Tables</a></li>
                                <li><a href="jq_grid.html">jqGrid</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="ecommerce_products_grid.html">Products grid</a></li>
                                <li><a href="ecommerce_product_list.html">Products list</a></li>
                                <li><a href="ecommerce_product.html">Product edit</a></li>
                                <li><a href="ecommerce_product_detail.html">Product detail</a></li>
                                <li><a href="ecommerce-cart.html">Cart</a></li>
                                <li><a href="ecommerce-orders.html">Orders</a></li>
                                <li><a href="ecommerce_payments.html">Credit Card form</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="basic_gallery.html">Lightbox Gallery</a></li>
                                <li><a href="slick_carousel.html">Slick Carousel</a></li>
                                <li><a href="carousel.html">Bootstrap Carousel</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>

                                    </ul>
                                </li>
                                <li><a href="#">Second Level Item</a></li>
                                <li>
                                    <a href="#">Second Level Item</a></li>
                                <li>
                                    <a href="#">Second Level Item</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
                        </li>
                        <li class="landing_link">
                            <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
                        </li>
                        <li class="special_link">
                            <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" value="{% block tituloCurso %} Bienvenido {% endblock %}" class="form-control" name="top-search" id="top-search" disabled>
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">


                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/a7.jpg">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/a4.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/profile.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info alertas" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts notificar">

                                    <li >
                                        <a href="">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i><span id="suscripciones"></span>
                                                <span class="pull-right text-muted small"></span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="hidden divider show_suscripciones"></li>
                                    <li class="hidden show_pagos">
                                        <a href="{{ path("homepage") }}">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i><span id="pagos"></span>
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                    <div id="progress" class="avatar-container" data="{{ porcentajePxNivel }}">
                                        <i class="avatar avatar-color-12 avatar-letter-w"></i>
                                    </div><!--.avatar-container-->
                                    <div class="profile-details">
                                        {{ app.user }}
                                        <span class="badge badge-primary">Nivel: <span id="nivel_usuario">{{ app.user.idCursoNivel.id }}</span> Exp.: <span id="exp_usuario">{{ app.user.experiencia }}</span> </span>
                                    </div>




                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>Salman Khan</strong></p>
                                                    <p class="text-left small">crazytodevelop@@gmail.com</p>
                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider navbar-login-session-bg"></li>
                                    <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                </ul>
                            </li>









                        </ul>

                    </nav>
                </div>
                 {% block mainTitle %} {% endblock %}

                <div class="wrapper wrapper-content">
                    {% block body %} {% endblock %}
                </div>
                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2015
                    </div>
                </div>

            </div>
        </div>


        {% block javascripts %}
            <script src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
            <script src="{{asset('assets/vendor/jquery-ui/jquery-ui.js')}}"></script>
            <script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/vendor/slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/vendor/metisMenu/jquery.metisMenu.js')}}" type="text/javascript"></script>
            <script src="{{asset('bundles/AppBundle/js/admin_scripts.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/vendor/pace/pace.min.js')}}" type="text/javascript"></script>

            <script>
                $(document).ready(function () {
                    waitForMsg();
                });



                function waitForMsg() {

                    $.ajax({
                        method: "GET",
                        url: "{{ url('ajax_contador_solicitudes') }}",
                        success: function (data) {

                            var cantidad = 0;

                            if (data.notificaciones){
                                cantidad = cantidad + data.noLeidas;
                                $(".notificar").html("");
                            }

                            console.log(cantidad);
                            notificar = JSON.parse(data.notificaciones);
                            if(cantidad > 0){
                                $(".alertas").append("<span class='label label-primary'>" + cantidad + "</span>");

                                $.each( notificar, function( key, value ) {

                                    if(value.idTipoNotificacion.ruta == "suscripcion") {
                                        var url = "{{ path("suscripcion_show", {'id': 'region_id'}) }}";
                                        url = url.replace("region_id", value.idNotificacion);
                                    }
                                    $(".notificar").append("<li><a onclick=window.location.href='" + url + "'>hola</a></li> ");


                                });
                                $(".notificar").append("<li class='divider show_pagos'><li><div class='text-center link-block'> <a href='notifications.html'> <strong>See All Alerts</strong><i class='fa fa-angle-right'></i> </a> </div> </li>");

                            }

                            setTimeout(waitForMsg, 10000);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown);
                            setTimeout(waitForMsg, 10000);

                        }

                    });

                };



                function add_experience(xp, u) {
                    var datos = {experience: xp, user: u};
                    $.ajax({
                        method: "GET",
                        url: $('#url_exp').val(),
                        data: datos,
                        //timeout: 50000,
                        success: function (data) {
                            console.log(data);
                            $("#progress").attr("data", data.avatar);
                            $("#nivel_usuario").html(data.nivel);
                            $("#exp_usuario").html(data.exp);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown, textStatus, XMLHttpRequest);

                            //setTimeout(waitForMsg, 300000);

                        },
                        complete: function () {
                        }

                    });

                }

                function add_logro(nombre, badge) {
                    var datos = {corto: nombre, badge:badge};
                    $.ajax({
                        method: "GET",
                        url: $('#url_logro').val(),
                        data: datos,
                        //timeout: 50000,
                        success: function (data) {
                            console.log("esto es data:");
                            console.log(data);
                            if (data.complete) {
                                swal({
                                    imageUrl: data.badge,
                                    padding: 30,
                                    imageWidth: 160,
                                    imageHeight: 160,
                                    showCloseButton: true,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    animation: false,
                                    customClass: 'animated tada',
                                    background: 'url(' + data.background + ')'
                                }).then(
                                    function () {
                                    },
                                    // handling the promise rejection
                                    function (dismiss) {
                                        toggleNav(true);
                                        add_experience("15", "Logro Desbloqueado");
                                        iziToast.show({
                                            color: 'dark',
                                            title: '+15 Puntos',
                                            message: 'por haber desbloqueado un logro ',
                                            icon: 'fa fa-user-plus',
                                            transitionIn: 'bounceInUp',
                                            position: 'center'
                                        });
                                    }
                                );
                            } else if (data.response === "success") {
                                add_experience("5", "Escribir Comando");
                                iziToast.show({
                                    color: 'dark',
                                    title: '+5 Puntos',
                                    message: 'Escribir un Comando ',
                                    icon: 'fa fa-user-plus',
                                    transitionIn: 'bounceInUp',
                                    position: 'center'
                                });

                            } else if (data.response === "done") {
                                toggleNav(true);
                                iziToast.warning({
                                    title: 'comando o logro ya completado',
                                    message: 'esta actividad la habias compeltado previamente',
                                    icon: 'fa fa-user-plus',
                                    transitionIn: 'bounceInUp',
                                    position: 'center'
                                });
                            } else{
                                iziToast.error({
                                    title: 'Error',
                                    message: 'Debes seguir el orden de la clase',
                                    icon: 'fa fa-user-plus',
                                    transitionIn: 'bounceInUp',
                                    position: 'center'
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown, textStatus, XMLHttpRequest);

                            //setTimeout(waitForMsg, 300000);

                        },
                        complete: function () {
                        }

                    });

                }


            </script>

        {% endblock %}
    </body>
</html>