<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}tlprgna!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css')}}" />
            <link rel="stylesheet" href="{{asset('assets/vendor/font-awesome/css/font-awesome.min.css')}}" />
            <link rel="stylesheet" href="{{ asset('assets/vendor/animate/animate.min.css') }}"  />
            <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/admin.css') }}"  />
            <link rel="stylesheet" href="{{ asset('assets/vendor/avatar-letter/avatar.min.css') }}"  />

            <style>

                .navbar-login
                {
                    width: 305px;
                    padding: 10px;
                    padding-bottom: 0px;
                }


                .icon-size
                {
                    font-size: 87px;
                }

            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% if (app.request.attributes.get('_route') == 'estudiante_curso_programacion') %} class="mini-navbar" {% endif %} >
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                                    <div id="progress1"  class="avatar-container">
                                        <i class="avatar avatar-color-12 avatar-letter-{{ app.user | first }}"></i>
                                    </div><!--.avatar-container-->
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username }}</strong>
                                        </span> <span class="text-muted text-xs block">Estudiante <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="mailbox.html">Mailbox</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path("homepage") }}">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                TLP+
                            </div>
                        </li>
                        <li {% if (app.request.attributes.get('_route') == 'estudiante_homepage') or  (app.request.attributes.get('_route') == 'admin_homepage') %} class="active" {% endif %}>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Área Administrador</span></a>
                            {% else %}
                                <a href="{{ path('estudiante_homepage') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Área de Estudiante</span></a>
                            {% endif %}

                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Mis Cursos</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% for inscripcion in app.user.inscripciones %}
                                    <li><a href="{{ path('estudiante_curso_programacion', { 'id': inscripcion.id, 'avance': inscripcion.avances.last.idCursoModuloTema.orden }) }}">{{ inscripcion.idCursoGrupo.idCurso.nombre }}</a></li>
                                {% endfor %}

                            </ul>
                        </li>

                        <li>
                            <a href="{{ path('estudiante_logros') }}"><i class="fa fa-pie-chart"></i> <span class="nav-label">Mis Logros</span></a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li {% if (app.request.attributes.get('_route') == 'admin_gestion_cursos_index')or  (app.request.attributes.get('_route') == 'admin_gestion_modulos_index') or  (app.request.attributes.get('_route') == 'admin_gestion_temas_index') %} class="active" {% endif %} >
                                <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Creación</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li><a href="{{ path('admin_gestion_cursos_index') }}">Gestión de Cursos</a></li>
                                    <li><a href="{{ path('admin_gestion_modulos_index') }}">Gestión de Módulos</a></li>
                                    <li><a href="{{ path('admin_gestion_temas_index') }}">Gestión de Temas</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li>
                            <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="mailbox.html">Inbox</a></li>
                                <li><a href="mail_detail.html">Email view</a></li>
                                <li><a href="mail_compose.html">Compose email</a></li>
                                <li><a href="email_template.html">Email templates</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>

                                    </ul>
                                </li>
                                <li><a href="#">Second Level Item</a></li>
                                <li>
                                    <a href="#">Second Level Item</a></li>
                                <li>
                                    <a href="#">Second Level Item</a></li>
                            </ul>
                        </li>
                       {# <li>
                            <a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
                        </li>
                        <li class="landing_link">
                            <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
                        </li>
                        <li class="special_link">
                            <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
                        </li>#}
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" value="{% block tituloCurso %} Bienvenido {% endblock %}" class="form-control" name="top-search" id="top-search" disabled>
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">


                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/a7.jpg">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/a4.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="img/profile.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info alertas" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts notificar">

                                    <li >
                                        <a href="">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i><span id="suscripciones"></span>
                                                <span class="pull-right text-muted small"></span>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="hidden divider show_suscripciones"></li>
                                    <li class="hidden show_pagos">
                                        <a href="{{ path("homepage") }}">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i><span id="pagos"></span>
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" style="padding-bottom: 0px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <div class="row">
                                        <div class="col-sm-3">
                                    <div id="progress" class="avatar-container" data="{{ porcentajePxNivel }}">
                                        <i class="avatar avatar-color-12 avatar-letter-{{ app.user | first }}"></i>
                                    </div><!--.avatar-container-->
                                        </div>
                                        <div class="col-sm-9">
                                    <div class="profile-details">
                                        {{ app.user }}<br>
                                        <span class="badge badge-primary">Nivel: <span id="nivel_usuario">{{ app.user.idCursoNivel.id }}</span> Exp.: <span id="exp_usuario">{{ app.user.experiencia }}</span> </span>
                                    </div>
                                        </div>
                                    </div>



                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <i style="width: 80px; height: 80px; line-height: 90px; font-size: 60px;!important " class="avatar avatar-color-12 avatar-letter-{{ app.user | first }}"></i>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>{{ app.user }}</strong></p>
                                                    <p class="text-left small">{{ app.user.email }}</p>
                                                    <p class="text-left">
                                                        <a href="#" class="btn btn-primary btn-block btn-sm">Perfil</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider navbar-login-session-bg"></li>
                                    <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                </ul>
                            </li>









                        </ul>

                    </nav>
                </div>
                {% if (app.request.attributes.get('_route') == 'estudiante_curso_programacion') %}
                <div class="row wrapper border-bottom white-bg page-heading" id="tour1">

                    <div class="col-sm-6">
                        <ol class="breadcrumb">
                            <li>

                                <h4> Progreso del Curso</h4>
                            </li>


                            <li class="tooltip-demo" id="tour2">
                                {% for temas in cursoModulo.temas %}
                                    {% if temas.orden < avance %}
                                        <a class="fa fa-github fa-2x" style="color: orangered;" data-toggle="tooltip" data-placement="top"
                                           title="{{ temas.orden }}: {{ temas.idTema.nombre }}"> . .</a>
                                    {% elseif temas.orden == avance %}
                                        <a class="fa fa-github fa-2x" style="color: steelblue;" data-toggle="tooltip" data-placement="top"
                                           title="{{ temas.orden }}: {{ temas.idTema.nombre }}">. .</a>
                                    {% elseif temas.orden > avance %}
                                        <a class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top"
                                           title="{{ temas.orden }}: {{ temas.idTema.nombre }}">. .</a>
                                    {% endif %}
                                {% endfor %}
                                <a class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top"
                                   title="Cierre"></a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-6">
                        <div class="title-action">
                            <a href="#" class="btn btn-primary startTour">Tour por mi aula virtual</a>
                        </div>
                    </div>


                </div>
                {% endif %}
                 {% block mainTitle %}

                 {% endblock %}

                <div class="wrapper wrapper-content">
                    {% block body %} {% endblock %}
                </div>
                <div class="footer">
                    <div class="pull-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2015
                    </div>
                </div>

            </div>
        </div>


        {% block javascripts %}
            <script src="{{asset('assets/vendor/jquery/dist/jquery.min.js')}}"></script>
            <script src="{{asset('assets/vendor/jquery-ui/jquery-ui.js')}}"></script>
            <script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/vendor/slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/vendor/metisMenu/jquery.metisMenu.js')}}" type="text/javascript"></script>
            <script src="{{asset('bundles/AppBundle/js/admin_scripts.js')}}" type="text/javascript"></script>
            <script src="{{asset('assets/vendor/pace/pace.min.js')}}" type="text/javascript"></script>

            <script>
                $(document).ready(function () {
                    waitForMsg();
                });



                function waitForMsg() {

                    $.ajax({
                        method: "GET",
                        url: "{{ url('ajax_contador_solicitudes') }}",
                        success: function (data) {

                            var cantidad = 0;

                            if (data.notificaciones){
                                cantidad = cantidad + data.noLeidas;
                                $(".notificar").html("");
                            }

                            console.log(cantidad);
                            notificar = JSON.parse(data.notificaciones);
                            if(cantidad > 0){
                                $(".alertas").append("<span class='label label-primary'>" + cantidad + "</span>");

                                $.each( notificar, function( key, value ) {

                                    if(value.idTipoNotificacion.ruta == "suscripcion") {
                                        var url = "{{ path("suscripcion_show", {'id': 'region_id'}) }}";
                                        url = url.replace("region_id", value.idNotificacion);
                                    }
                                    $(".notificar").append("<li><a onclick=window.location.href='" + url + "'>hola</a></li> ");


                                });
                                $(".notificar").append("<li class='divider show_pagos'><li><div class='text-center link-block'> <a href='notifications.html'> <strong>See All Alerts</strong><i class='fa fa-angle-right'></i> </a> </div> </li>");

                            }

                            setTimeout(waitForMsg, 10000);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown);
                            setTimeout(waitForMsg, 10000);

                        }

                    });

                };



                function add_experience(xp, u) {
                    var datos = {experience: xp, user: u};
                    $.ajax({
                        method: "GET",
                        url: $('#url_exp').val(),
                        data: datos,
                        async: false,
                        //timeout: 50000,
                        success: function (data) {
                            console.log(data);
                            $("#progress").attr("data", data.avatar);
                            $("#progress1").attr("data", data.avatar);
                            $("#nivel_usuario").html(data.nivel);
                            $("#exp_usuario").html(data.exp);
                            if(data.levelUp == true){
                                swal({
                                    imageUrl: '../../../../../../images/course/modal/levelUp.png',
                                    padding: 30,
                                    imageWidth: 160,
                                    imageHeight: 160,
                                    showCloseButton: true,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    animation: false,
                                    customClass: 'animated tada',
                                    background: 'url(../../../../../../images/course/og_bg.jpg)'
                                }).then(
                                    function () {
                                    },
                                    // handling the promise rejection
                                    function (dismiss) {

                                    }
                                );
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown, textStatus, XMLHttpRequest);

                            //setTimeout(waitForMsg, 300000);

                        },
                        complete: function () {
                        }

                    });

                }

                function add_logro(nombre, badge) {
                    var datos = {corto: nombre, badge:badge};
                    $.ajax({
                        method: "GET",
                        url: $('#url_logro').val(),
                        data: datos,
                        async: false,
                        //timeout: 50000,
                        success: function (data) {
                            console.log("esto es data:");
                            console.log(data);
                            if (data.complete) {
                                swal({
                                    imageUrl: data.badge,
                                    padding: 30,
                                    imageWidth: 160,
                                    imageHeight: 160,
                                    showCloseButton: true,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    animation: false,
                                    customClass: 'animated tada',
                                    background: 'url(' + data.background + ')'
                                }).then(
                                    function () {
                                    },
                                    // handling the promise rejection
                                    function (dismiss) {
                                        toggleNav(true);
                                        add_experience("15", "Logro Desbloqueado");
                                        iziToast.show({
                                            color: 'dark',
                                            title: '+15 Puntos',
                                            message: 'por haber desbloqueado un logro ',
                                            icon: 'fa fa-user-plus',
                                            transitionIn: 'bounceInUp',
                                            position: 'center'
                                        });
                                    }
                                );
                            } else if (data.response === "success") {
                                add_experience("5", "Escribir Comando");
                                iziToast.show({
                                    color: 'dark',
                                    title: '+5 Puntos',
                                    message: 'Escribir un Comando ',
                                    icon: 'fa fa-user-plus',
                                    transitionIn: 'bounceInUp',
                                    position: 'center'
                                });

                            } else if (data.response === "done") {
                                toggleNav(true);
                                iziToast.warning({
                                    title: 'comando o logro ya completado',
                                    message: 'esta actividad la habias compeltado previamente',
                                    icon: 'fa fa-user-plus',
                                    transitionIn: 'bounceInUp',
                                    position: 'center'
                                });
                            } else{
                                iziToast.error({
                                    title: 'Error',
                                    message: 'Debes seguir el orden de la clase',
                                    icon: 'fa fa-user-plus',
                                    transitionIn: 'bounceInUp',
                                    position: 'center'
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown, textStatus, XMLHttpRequest);

                            //setTimeout(waitForMsg, 300000);

                        },
                        complete: function () {
                        }

                    });

                }


            </script>

        {% endblock %}
    </body>
</html>