<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CEA | UBV!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/AppBundle/main.css') }}">
            <style>
            .fade.in {
                opacity: 0.8;
                background-color:#398439;
            }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-offset="20" data-target="#navbar">
        
        {% block navegacion %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Centro de Estudios Ambientales UBV
                    </a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}                                
                        <li><a href="#">Bienvenido {{app.user.username}}</a></li>
                        <li><a href="{{path('logout')}}">Salir</a></li>
                    {% endif %}                                                               
                    </ul>

                </div>

            </div>

        </nav>
        
        {% endblock %}
        
        
        
        {% block submenu %} 
        
        <div class="subnavbar">
            <div class="subnavbar-inner">
              <div class="container">
                <ul class="mainnav">
                    <li {% if (app.request.attributes.get('_route') == 'cea_index') %} class="active" {% endif %}><a href="{{path('cea_index')}}"><i class="fa fa-list"></i><span>Principal</span> </a> </li>
                  {% if is_granted('ROLE_COORDINADOR_NACIONAL') %}
                   <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-dashboard"></i><span>Ver Adscripciones</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a data-toggle="modal" data-target="#buscarAdscripcion">Buscar Adscripcion</a></li>
                      <li><a href="{{ path('cea_adscripciones')}}">En espera de Aprobación</a></li>
                      <li><a href="{{ path('cea_adscripciones', { 'estatus': 1 })}}">Aprobadas</a></li>
                      <li><a href="{{ path('cea_adscripciones', { 'estatus': 3 })}}">Rechazadas</a></li>                         
                    </ul>
                  </li>
                  
                  <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-dashboard"></i><span>Ver Solicitudes</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a data-toggle="modal" data-target="#buscarServicios">Buscar Servicios</a></li> 
                      <li><a href="{{ path('cea_servicios', {'tipo' : 'antiguedad'})}}">En espera de Aprobación</a></li>
                      <li><a href="{{ path('cea_servicios', { 'tipo' : 'antiguedad', 'estatus': 1 })}}">Aprobadas</a></li>
                      <li><a href="{{ path('cea_servicios', { 'tipo' : 'antiguedad', 'estatus': 3 })}}">Rechazadas</a></li>                         
                    </ul>
                  </li>
                  
                    {% endif %}
                  {% if is_granted('ROLE_ADSCRITO') %}                      
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-dashboard"></i>
                            <span>Solicitudes</span> <b class="caret"></b>
                        </a>
                       <ul class="dropdown-menu">
                           <li><a href="icons.html">Adscripción</a></li>
                           <li><a href="faq.html">Ascenso</a></li>
                           <li><a href="{{ path('cea_solicitudes_recocimiento_antiguedad') }}">Reconocimiento de Antiguedad</a></li>                         
                       </ul>
                   </li>
                  {% endif %}                     
                </ul>
              </div>
              <!-- /container --> 
            </div>
            <!-- /subnavbar-inner --> 
          </div>
          <!-- /subnavbar -->
        {% endblock %}
                
        {% block body %}
            
        {% endblock %}
        
        
        
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}" ></script>
        {% endblock %}
        
        
       <!-- Ventanas Modales -->
       
       <!-- Ventana de buscar adscripcion -->
        <div class="modal fade bs-example-modal-sm" id="buscarAdscripcion" tabindex="-1" role="dialog">
            <form action="{{ path('cea_adscripciones') }}" method="post" role="form">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cédula o Número de Adscripción a buscar...</h4>
              </div>
              <div class="modal-body">

                    <div class="form-group">
                        <label for="numero">Cédula del Docente o Número de Adscripción:</label>
                        <input type="number" class="form-control" id="docente"  name="docente" value="" />
                    </div>                        

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="submit">Buscar Adscripcion</button>
              </div>
            </div>
          </div>
          </form>
        </div><!-- Fin de la ventanta modal buscar adscripcion -->
        
        
        
          <!-- Ventana de buscar adscripcion -->
        <div class="modal fade bs-example-modal-sm" id="buscarServicios" tabindex="-1" role="dialog">
            <form action="{{ path('cea_servicios') }}" method="post" role="form">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Busqueda de Servicios...</h4>
              </div>
              <div class="modal-body">

                    <div class="form-group">
                        <label for="numero">Cédula del Docente:</label>
                        <input type="number" class="form-control" id="docente"  name="docente" value="" />
                    </div> 
                  
                  <div class="form-group">
                        <label for="numero">Tipo de Servicio:</label>
                        <select class="form-control" id="tipo"  name="tipo">
                            <option value="0">Todos</option>
                            <option value="1">Reconocimiento Antiguedad</option>
                        </select>
                  </div>   

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button class="btn btn-primary" type="submit">Buscar Adscripcion</button>
              </div>
            </div>
          </div>
          </form>
        </div><!-- Fin de la ventanta modal buscar adscripcion -->
        
        
    </body>
</html>
