<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CEA | UBV!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
            <style>
                p{
                    padding: 0;
                    margin: 0;
                }
                
                
                .cuerpo-memo{
                   line-height: 23px; 
                   text-indent: 30px;
                   padding: 10px;                   
                }
                
                header p{
                    font-size: 12px;
                }
                
                .firma{
                    margin-top: 60px;
                }
                .firma p{
                    
                    font-size: 10px;
                }
                
                footer{
                    margin-top:20px;
                }
                
                footer p{
                    font-size: 10px;
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body >
        <div class="container">
            {% block encabezado %} 

                <header>
                    <table>
                        <tr>
                            <td>
                                <div >
                                    <img width="50%" src="{{ asset('bundles/framework/images/portal/logo_ubv.png')}}" />
                                </div>
                            </td>
                            <td>
                                <div>
                                <p>República Bolivariana de Venezuela</p>
                                <p>Universidad Bolivariana de Venezuela</p>
                                <p>Rectorado</p>
                                <p>Dirección General de Apoyo Socio Administrativo</p>
                                </div>
                            </td>
                        </tr>
                    </table>                   
                </header>

            {% endblock %}
        
            <div class="row">
                <div class="text-right">
                    <p><strong>CEA@UBV-N°-00{%block numero %} {% endblock %}</strong></p>
                </div>
            </div>
                
            <div class="row">
                <div class="text-center">
                    <p><strong>M E M O R A N D O</strong></p>
                </div>
            </div>
                <div class="content" style="border-bottom: solid 2px;">
                <table >
                    <tr>
                        <td>
                            <p>Para:  </p>
                        </td>
                        <td>
                            <p> {% block para %}{%endblock%} </p>
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td>
                           De:  
                        </td>
                        <td>
                            {% block coordinador %}{%endblock%} 
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td>
                           Asunto:  
                        </td>
                        <td>
                            {% block asunto %}{%endblock%} 
                        </td>
                        
                    </tr>
                    
                    <tr>
                        <td>
                           Fecha:  
                        </td>
                        <td>
                            <p>{% block fecha %}{%endblock%} 
                        </td>
                        
                    </tr>
                    
                </table>
                </div>
                
                        <p class="text-justify cuerpo-memo">Reciba un cordial saludo bolivariano y revolucionario de parte del equipo 
                           de trabajo de este Centro de Estudios Ambientales.  La presente es para 
                           informar que este Centro reconoce su antigüedad con fines de ascenso en 
                           escalafones de la carrera universitaria en esta Institución tomando en cuenta 
                           la resolución de Consejo Universitario <strong>Nº11-42-2015</strong> 
                           de fecha 08/07/2015 que establece en su primer resuelve 
                           <i>"Aprobar que la antigüedad administrativa total, acumulada en el lapso 
                               transcurrido entre el primer contrato como trabajador académico y el 
                               Concurso de Oposición, se reconoce a las y los trabajadores académicos de 
                               la UBV, con fines académicos (ascenso en el Escalafón Docente), 
                               por única vez, los años, los meses y los días faltantes para satisfacer 
                               la permanencia legal exigida en el correspondiente escalafón que tuviese 
                               el trabajador académico en el momento de hacer su solicitud de ascenso 
                               inmediato".</i> 
                           
                           <br> &nbsp;&nbsp;&nbsp;&nbsp;En tal sentido, tomando la información 
                                suministrada por Usted se tiene que: </p>
                            
                            <table class="table table-bordered table-condensed">
                                <tr>
                                    <td>
                                        Fecha Primera Contratatación UBV
                                    </td>
                                    <td>
                                        {% block fecha_contratacion %} {%endblock %}
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        Fecha Aprobación Concurso de Oposición  
                                    </td>
                                    <td>
                                        {% block fecha_oposicion %} {%endblock %}
                                    </td>
                                </tr>
                            </table>
                            <p class="text-justify">  Por lo tanto desde su primera contratación 
                                en la UBV hasta el Concurso de Oposición <strong>se reconoce una antigüedad de 
                                    {%block antiguedad %}{%endblock%}</strong></p>
                            <p class="text-justify">Sin más a que hacer referencia, y dándole las gracias por su atención se despide. </p>
                            <div class="text-center firma">
                                
                                <p>Mgs. Alexis Lozada</p>
                                <p>Director (E) del Centro de Estudios Ambientales </p>
                                <p>Resolución del Consejo Universitario N° CU-10-68.</p>
                                <p>Acta N° 10 de fecha 17 de junio de 2015</p>
                                
                            </div>
                            
                             {% block pie %} 

                <footer>
                    <div class="row ">                   
                       
                        <div class="col-xs-10 text-right">
                          <p>Av. Leonardo Da Vinci</p>
                                <p>Edif. Universidad Bolivariana de Venezuela</p>
                                <p>Piso 8. Los Chaguaramos</p>
                                <p>Telf. 0212- 606.3449</p> 
                                <p>RIF. G - 20003773-3</p>
                                <p>www.ubv.edu.ve - @ubv</p>
                                <p class="text-center">"Sembramos Saberes Cosechamos Patria"</p>
                        </div>
                        <div class="col-xs-2 push-left">
                            <img width="80%" src="{{ asset('bundles/framework/images/memorando/logoJuventud.jpg')}}" />
                            </div>
                        
                        
                        </div>
                  
                       
                           
                    </div>                   
                </footer>

            {% endblock %}
        
        </div><!-- Containter -->
        {% block body %}
            
            {% block principal %} {% endblock %}

        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}" ></script>
        {% endblock %}
    </body>
</html>
