{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
    <link href="{{ asset('bundles/AppBundle/css/portal.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendor/animate/animate.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/iziToast/dist/css/iziToast.min.css') }}">
{% endblock %}
    

{% block body %}           
            {% block principal %}


            <section id="area-principal">
                <div class="container">


                        <div class="col-md-12">
                            {% for type, flash_messages in app.session.flashBag.all %}
                                {% for flash_message in flash_messages %}
                                    <input type="hidden"  id="flash" value="{{ flash_message }}">
                                {% endfor %}
                            {% endfor %}
                            <h1 class="title"><img class="encabezado" src="{{ asset('bundles/AppBundle/images/portal/encabezado.png') }}" /></h1>                            
                            <h2 class="subtitle"><i class="fa fa-lightbulb-o fa-2x yellow"></i>¡Enciende Tu Conocimiento!</h2>
                        </div>
                        <div class="row"> 
                            <div class="col-md-3 col-sm-3 col-xs-12">
                            <img class=" animated fadeInLeft mascot" src="{{ asset('bundles/AppBundle/images/portal/teclin-portal1.png') }}" alt="">
                            
                            </div>
                             <div class="col-md-5 col-sm-5 col-xs-12 animated fadeInRight delay-0-5 text-justify">
                                <p>Somos una empresa que nace en la virtualidad y 
                                    que te ofrece la mejor forma de capacitarte en 
                                    línea en las áreas de las Tecnologías de 
                                    Información y Comunicación a tu propio ritmo y de
                                    una forma 100% interactiva.</p>
                                <a href="#cursos" class="btn btn-common btn-lg">Ver cursos</a>
                                <a href="#pie" class="btn btn-primary btn-lg">Saber más</a>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInLeft delay-1 ">
                                <br>                               
                                {% for message in app.session.flashBag.get('notice') %}
                                    <div class="alert alert-success">{{ message }}</div>
                                {%endfor %}

                                {% for message in app.session.flashBag.get('danger') %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {%endfor %}

                                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}                                
                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                {{ form_widget(form) }}
                                 <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    {{ form_widget(form.register) }}
                                    <a href="{{ path('login') }}" >¿Ya registrado?</a>
                                </div>
                                </div>
                                {{ form_end(form) }}
                            </div>

                        </div>

                    </div>
                
            </section>
                            
           <!-- Servicios de TLP -->

        <section id="servicios">
            <div class="container text-center">
                <div class="row">
                    <h1 class="title">Servicios </h1>
                    <h2 class="subtitle">Conoce los servicios que tenemos para ti</h2>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 media">
                        <div class="media-left">
                           <div class="bg-green-300 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-film fa-2x fa-fw"></i>
                                 </div>
                            </div>
                        </div>
                        <div class="media-body service-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="media-heading">Clases en vídeo</h3>
                                    <p>Observa los vídeos de las clases a cualquier hora y a tu
                                    propio ritmo.  Siempre los tendrás disponibles</p>
                                </div>
                            </div>
                        </div>
                     </div>


                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 media">
                        <div class="media-left">
                           <div class="bg-red-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-tasks fa-2x fa-fw"></i>
                                 </div>
                            </div>
                        </div>
                        <div class="media-body service-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="media-heading">100% Interactivo</h3>
                                    <p>Realizarás prácticas interactivas autoevaluadas al finalizar
                                        cada módulo para reforzar y fijar los conocimientos adquiridos.</p>
                                </div>
                            </div>                            
                        </div>
                     </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 media">
                        <div class="media-left">
                           <div class="bg-orange-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-refresh fa-2x fa-fw"></i>
                                 </div>
                            </div>
                        </div>
                        <div class="media-body service-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="media-heading">Contenido Actualizado</h3>
                                    <p>Nuestros cursos están al día con las nuevas tecnologías
                                        y constantes cambios que se ejecutan en nuestro mundo.</p>
                                </div>
                            </div>
                        </div>
                     </div>
                    
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 media">
                        <div class="media-left">
                           <div class="bg-cyan-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-user-plus fa-2x fa-fw"></i>
                                 </div>
                            </div>
                        </div>
                        <div class="media-body service-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="media-heading">Tutores Calificados</h3>
                                    <p>Los Cursos, así como los tutores están calificados o son
                                        expertos en el área del o de los cursos. Aprovéchalos.</p>
                                </div>
                            </div>
                        </div>
                     </div>
                    
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 media">
                        <div class="media-left">
                           <div class="bg-purple-300 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-life-saver fa-2x fa-fw"></i>
                                 </div>
                            </div>
                        </div>
                        <div class="media-body service-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="media-heading">Soporte Premium</h3>
                                    <p>Nunca estarás solo. Un tutor
                                    siempre te guiará a lo largo del curso. Adicional
                                    a ello contamos con blogs y chats para
                                    estar siempre en contacto.</p>
                                </div>
                            </div>
                        </div>
                     </div>
                    
                     <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 media">
                        <div class="media-left">
                           <div class="bg-pink-400 text-white">
                                <div class="panel-body">
                                    <i class="fa fa-certificate fa-2x fa-fw"></i>
                                 </div>
                            </div>
                        </div>
                        <div class="media-body service-item">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3 class="media-heading">Certificados</h3>
                                    <p>Recibirás Open Badges (Insignias) al finalizar cada módulo
                                        y tu certificado al terminar el curso.</p>
                                </div>
                            </div>
                                    
                        </div>
                     </div>

                </div>
            </div>
        </section>
        <!-- Service Section End -->
        
        <!-- Sección de los Cursos -->
         <section id="cursos">
            <div class="container">
                <div class="row">
                    <h1 class="title">Cursos</h1>
                    <h2 class="subtitle">Galería de Cursos que tenemos a tu disposición</h2>
                    {% for curso in cursos %} 
                            <div class="col-sm-4 col-lg-4 col-md-4">
                              <div class="thumbnail">
                                  <img src="{{ vich_uploader_asset(curso, 'imageFile') }}" alt="dwc.png">
                                  <div class="caption">
                                      {% set costo = 0  %}
                                      {% for mod in curso.modulos %} {% set costo = costo + mod.idCostoCursoModulo.costo  %} {% endfor %}
                                      <h4 class="pull-right">{{costo}}</h4>
                                      <h4><a href="#">{{ curso.nombre}}</a>
                                      </h4>
                                      <p>
                                          {{curso.descripcion}}

                                      </p>
                                      <a href="{{ path("curso_comprar_new", { 'id': curso.id }) }}" class="btn btn-primary">Comprar!</a> <a href="#" class="btn btn-default">más información</a>
                                  </div>
                                  <div class="ratings">
                                      <p class="pull-right">15 reseñas</p>
                                      <p class="yellow">
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                      </p>
                                  </div>
                              </div>
                          </div>                    
                    {% endfor %}                                       

                </div>
            </div>
         </section>
                            
    <section id="pie" class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4 class="text-headline text-light">La Empresa</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Tecnolíne@ Paraguaná C.A.</a></li>                        
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="text-headline text-light">Explora</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Cursos</a></li>
                        <li><a href="">Tutores</a></li>                        
                        <li><a href="">¿Quieres dar clases?</a></li>
                        <li><a href="">Registráte</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4 class="text-headline text-light">Lista de Correos</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="dirección email aquí...">
                            <span class="input-group-btn">
                                <button class="btn btn-grey-800" type="button">Suscribirse</button>
                            </span>
                        </div>
                    </div>
                    <br/>
                    <p>
                        <a href="#" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>                       
                        <a href="#" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>                        
                    </p>
                    <p class="text-subhead">
                        &copy; 2016 Tecnolíne@ Paraguaná
                    </p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Footer -->
    <div id="copyright">
            <div class="container">
                <div class="col-md-10"><p>© Tecnolínea Paraguaná C.A. 2016 Todas las izquierdas reservadas ;). </p></div>
                <div class="col-md-2">
                    <span class="to-top pull-right"><a href="#area-principal"><i class="fa fa-angle-up fa-2x"></i></a></span>
                </div>
            </div>
        </div>
    <!-- // Footer -->
            
            {% endblock %}

        {% endblock %}

         {% block javascripts %} 
            {{ parent() }}
             <script src="{{ asset('assets/vendor/iziToast/dist/js/iziToast.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/smooth-scroll/smooth-scroll.min.js') }}" ></script>
            <script>
                    $('#register_register').on('click', function () {
                        $(this).button('loading');                        
                    });

                    $(function(){
                        var text = $("#flash").val()//get the value from that id
                        if(text) {
                            iziToast.warning({
                                title: 'Atención:',
                                message: text,
                                position: 'center'
                            });
                        }
                    });

            </script>
        {% endblock %}