{% extends 'base_admin.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}    
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/bombillo.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/revealjs/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/revealjs/css/theme/moon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/revealjs/lib/css/zenburn.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrapTour/bootstrap-tour.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/elfinder/css/elfinder.full.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/elfinder/css/theme.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/vendor/quiz/slickQuiz.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/quiz/master.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/steps/jquery.steps.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/moovly/css/videojs/video-js.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/moovly/css/main.css') }}">


    <style>


        .window {

            height: 300px;
            background-color: #f2f1f0;
            -webkit-transition: 1s;
            transition: 1s;
        }
        .window .topbar {
            height: 40px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-image: -webkit-linear-gradient(#65645e, #3c3b37);
            background-image: linear-gradient(#65645e, #3c3b37);

            border-bottom: 1px solid #302f2c;
        }
        .window .topbar p {
            color: #dfdbd0;
            margin-left: 20px;
        }
        .window .topbar .icons {
            background-image: -webkit-linear-gradient(#363632, #4e4d48);
            background-image: linear-gradient(#363632, #4e4d48);
            margin-left: 15px;
            border-radius: 500px;
            padding-top: 2px;
            padding-bottom: 1px;
            padding-left: 3px;
            padding-right: 3px;
        }
        .window .topbar .icons .close {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-image: -webkit-linear-gradient(#f79674, #df5106);
            background-image: linear-gradient(#f79674, #df5106);
            display: inline-block;
        }
        .window .topbar .icons .close:hover {
            background-image: -webkit-linear-gradient(#f8a082, #f85c09);
            background-image: linear-gradient(#f8a082, #f85c09);
        }
        .window .topbar .icons .hide,
        .window .topbar .icons .maximize {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 5px;
            background-image: -webkit-linear-gradient(#989792, #5a5a55);
            background-image: linear-gradient(#989792, #5a5a55);
            display: inline-block;
        }
        .window .topbar .icons .hide:hover,
        .window .topbar .icons .maximize:hover {
            background-image: -webkit-linear-gradient(#a2a19d, #6b6b65);
            background-image: linear-gradient(#a2a19d, #6b6b65);
        }

        .window .wtitle{
            font-size:14px;
            font-weight: bold;
        }

        .window .tools {
            height: 30px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #3c3b37;
            color: #dfdbd0;
        }


        .acomodar{
            margin-top: 10px;             
        }

        .seq {
            z-index: 1;
        }


        #console {
            margin: 0;
            padding: 0;
            display: table;
            width: 100%;
            white-space: nowrap;
            color: #FFFFFF;
            background-color: #281022;
            height: 15px;        
        }

        #console-panel{
            background-color: #281022; 
            overflow-y: scroll;
            height: 300px;
        }


        #console div {
            display: table-cell;
            width: auto;
        }

        #console #command {
            width: 100%;
        }

        #console input {
            border: none;
            outline: none;
            background: transparent;
            width: 100%;
        }

        #console input:focus {
            outline: none;
        }

        #preConsole {
            border: none;
            margin:0;
            /*padding-top: 50px;*/
            white-space: pre;
            background-color: #281022;
            color: white;
        }

        #preCode {
            color: gray;
            font-family: inherit;
            font-size: inherit;
        }

        .error {
            color: red;
        }



    </style>


{% endblock %}

{% block tituloCurso %} Bienvido a tu curso: {{ inscripcion.idCursoGrupo.idCurso.nombre }} {% endblock %}

{% block mainTitle %} 
    <div class="row wrapper border-bottom white-bg page-heading" id="tour1">

        <div class="col-sm-4" >                     
            <ol class="breadcrumb">
                <li>

                    <h4><img id="guardado" src="{{ asset('images/course/lightbulbOn6.png') }}" width="36px" /><img id="loadingBulb" src="{{ asset('images/course/bulb.gif') }}" width="36px" /> Progreso del Curso</h4>
                </li>


                <li class="tooltip-demo" id="tour2">                        
                    {% for temas in cursoModulo.temas %} 
                        {% if temas.orden < avance  %}
                            <a class="fa fa-github fa-2x encendido" data-toggle="tooltip" data-placement="top" title="{{ temas.orden}}: {{temas.idTema.nombre}}"></a>
                        {% elseif temas.orden == avance %}
                            <a class="fa fa-github fa-2x current" data-toggle="tooltip" data-placement="top"  title="{{ temas.orden}}: {{temas.idTema.nombre}}"></a>
                        {% elseif temas.orden > avance  %}
                            <a class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top"  title="{{ temas.orden}}: {{temas.idTema.nombre}}"></a>
                        {% endif %}                            
                    {% endfor %}


                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="#" class="btn btn-primary startTour">Tour por mi aula virtual</a>
            </div>
        </div>


    </div>

{% endblock %}



{% block body %} 



    <div class="row">
        <div class="col-lg-7" style="height:400px" id="tour3" >

            <div class="reveal">

                <!-- Any section element inside of this container is displayed as a slide -->
                <div class="slides">
                    <section data-background-image="{{ asset('images/course/bg_git.jpg') }}">
                        <h1>Fundamentos de GIT</h1>
                        <h3>El Controlador de versiones distribuido Libre</h3>
                        <p>
                            <small>Creado por <a href="www.tecnolineaparaguana.com.ve">Wilmer Ramones</a> / <a href="http://twitter.com/wramonesr">@wramonesr</a></small>
                        </p>
                    </section>
                        
                        <section data-transition="zoom" data-background="{{ asset('images/course/gif/lightbulb2.gif') }}">                        
                        <h2>
                            Gracias por encender tu conocimiento con Tecnolíne@
                            Paraguaná.
                        </h2>
                    </section>
                        
                        
                    <section data-transition="concave" data-background="{{ asset('images/course/gif/earthRotation.gif') }}">
                        
                        
                            <h2>Presentación <strong style="color:white"> Multiespacial </strong></h2>
                            <p>
                                puedes controlar <strong style="color:white">la presentación con las teclas</strong> de
                                dirección del <strong style="color:white">teclado, o con barra espaciadora</strong> para
                                pasar <strong style="color:white">por todas y cada una de las láminas</strong>.</p>
                            <a href="#" class="navigate-down">
                                <img width="500" height="238" data-src="{{ asset('images/course/spacebar.png') }}" alt="Down arrow">
                            </a>
                            <p><strong style="color:white">Recomendable usar la barra espaciadora para que no te pierdas de nada</strong></p>
                        </section>                        
                       
                    

                    
                        
                    <section>
                        <h3>Objetivos de Este módulo:</h3>
                        <ul>
                            <li class="fragment fade-left" data-autoslide="2500">¿Qué es Controlador de Versiones?</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Qué es Git?</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Cómo instalar Git?</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Como Configurar Git?</li>
                        </ul> 

                    </section>

                    <!-- Example of nested vertical slides -->
                    

                    <section>
                        <section>
                        <h2>Trabajo Creativo</h2>
                        <p>
                            Si eres un diseñador, desarrollador o programados, 
                            entonces has pasado por los pasos de:
                        </p>

                        <div class="row">
                            <div class="col-lg-3">
                                <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42" height="42" class="animated infinite bounce" />                                                
                                <p><small><strong>crear</strong></small></p>
                            </div>
                            <div class="col-lg-3">
                                <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42" height="42" class="animated infinite flip" />                                                
                                 <p><small><strong>Guardar</strong></small></p>
                            </div>
                            <div class="col-lg-3">
                                <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42" height="42" class="animated infinite bounce" />                                                
                                 <p><small><strong>Editar</strong></small></p>
                            </div>
                            <div class="col-lg-3">
                                <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42" height="42" class="animated infinite flip" />                                                
                                 <p><small><strong>Guardar Nuevamente</strong></small></p>
                            </div>

                        </div>

                                 <h4>¿Verdad que sí?</h4>
                                 <p>Incluso me atrevo a decir que
                                 has guardado el mismo documento
                                 con otro nombre... ¿verdad?</p>
                        </section>
                        <section data-background="http://i.giphy.com/90F8aUepslB84.gif" >
                            <h2>No mientas.... jejejej</h2>
                            
                            
                        </section>                            
                    </section>
                                 
                                 <section>
                                <h2>No hay problema</h2> 
                                <p>Sin darte cuenta, estabas utilizando tu propio
                                sistema manual para controlar tus versiones </p>
                            </section>
                            
                            <section >
                                <section data-background="{{ asset('images/course/gif/thinking.gif') }}">
                                <h2 style="color:black">¿Que es un Controlador de Versiones?</h2> 
                                </section>
                                <section>
                                <p>Un Controlador de Versiones (VCS en inglés) 
                                es un sistema que registra los cambios 
                                ocurridos durante la <strong>creación, guardado, 
                                editado y guardado</strong> nuevamente en uno o varios 
                                archivos. </p>
                                </section>
                                <section data-background="http://33.media.tumblr.com/d6e357b4974443d8e972bd39a87ec17a/tumblr_n4f2rhFzgC1tvnszbo2_250.gif">
                                    <h2>Excelente verdad... y no has <strong>visto los beneficios</strong></h2>                                    
                                </section>
                            </section>
                            
                           
                            
                            <section>
                                <section data-background="{{ asset('images/course/gif/benefits.gif') }}">
                                    <h2 ><strong>Algunos Beneficios al usar Controladores de Versiones</strong></h2>
                                </section>
                                    <section data-background="{{ asset('images/course/gif/equipo.gif') }}">
                                        <h2><strong>Colaboración</strong></h2>
                                    <p style="background-color:black; color:white; opacity:0.6;">
                                        Con un CVS tu equipo de trabajo o tu, pueden trabar libremente
                                        en el mismo archivo sin pisarse los pies y sin estar diciendo:
                                        "Esperen... nadie toque el archivo xyz que voy a realizar una modificación".
                                    </p>
                                </section >
                                <section data-background="{{ asset('images/course/gif/tranquilo.gif') }}">
                                    <h2>Respaldar</h2>
                                        <p style="background-color:black; color:white; opacity:0.6;">
                                            Si hay un incendio o perdistes la información, puedes trabajar
                                            tranquilo.... es casi imposible equivocarse o perder por
                                            completo el trabajo.  Puedes trabajar relajado
                                        </p>
                                        
                                </section>
                                                                               
                                    <section data-background="{{ asset('images/course/gif/tellType.gif') }}">
                                        <h2>Descripción de lo que haces</h2>
                                        <p style="background-color:black; color:white; opacity:0.6;">
                                            cada vez que guardas un archivo, tu VCS es como un
                                            entrenador en tu espalda quete obliga a escribir una <strong>
                                            descripcion</strong> de los cambios y es capaz de mostrarte a su
                                            vez, los cambios entre las distintas versiones. <strong>Te cuenta
                                            la historia de tu proyecto</strong>
                                        </p>
                                    </section>                                    
                                                                          
                                
                            </section>
                                 <section>
                                     <section>
                                     <h2>Tipos de Controlador de Versiones</h2>
                                     <p>Tipos de VCS: (hacer clic para ver animación)</p>
                                        <a id="animacion_local" href="#/vcs-local" data-toggle="modal" data-target=".bs-modal-video"  class="btn btn-primary btn-lg">Local<i class="fa fa-laptop"></i></a>
                                        <a href="#" data-toggle="modal" data-target=".bs-modal-video2" class="btn btn-warning">Centralizado<i class="fa fa-download"></i></a>
                                        <a href="#"  class="btn btn-success btn-lg">Distribuido <i class="fa fa-github"></i></a>
                                        </section>
                                     <section id="vcs-local" data-background-video="{{ asset('assets/vendor/moovly/videos/local.webm') }}">
                                     
                                    </section>
                                 </section>
                                     
                                 <section>
                                     <h3>Nacimiento de GIT</h3>
                                    <p>La historia del nacimiento de GIT es muy interesante,Te invitamos a leer la historia presionando en el botón</p>
                                        <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Leer Historia de GIT</button>
                                 </section>
                                     
                                     
                                     <section data-background="{{ asset('images/course/terminal.gif') }}">
                                         <h2>Este curso usa la Consola o Terminal</h2>
                                         <p>Las acciones de git serán ejecutadas en la consola y
                                         vamos a aprender a usarla</p>
                                     </section>
                                         
                                         
                                     <section data-background="{{ asset('images/course/gif/noTeVayas.gif') }}">
                                         <h2>Alto!!!!!</h2>
                                         <p style="background-color:black; color:white; opacity:0.6;">No te vayas todavía</p>
                                     </section>
                                         <section>
                                             <h2>Es cierto</h2>
                                             <p>Que Existen
                                                 interfaces gráficas, pero, pero...<br>
                                                 te recomiendo aprender
                                                 a usar la <strong>consola</strong> porque puedes
                                            exportar estos conocimientos a la interfaz gráfica fácilmente,
                                            pero no es el caso en viceversa.... </p>
                                         </section>
                                         <section data-background="{{ asset('images/course/terminal.gif') }}">
                                            <p style="background-color:white; color:black; opacity:0.6;">
                                             Así que sin miedo a usar
                                             la consola o terminal..
                                         </section>
                                             
                                             <section data-background-image="{{ asset('images/course/bg_git.jpg') }}">
                                                <h1>Sigamos en materia entonces</h1>

                                            </section>
                                         
                                         
                                         <section data-background="{{ asset('images/course/gif/installGit.gif') }}">
                                             <h3>Antes de usar Git, primero debemos instalarlo</h3>
                                             <p style="background-color:black; color:white; opacity:0.6;">
                                                 En este curso ya está instalado Git, pero te explicaremos
                                             los pasos en los distintos Sistemas Operativos</p>
                                         </section>
                                             <section>
                                                 <h3>Instalación de GIT</h3>
                                             <div>

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Linux</a></li>
                                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Mac</a></li>
                                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Windows</a></li>    
                                                <li role="presentation"><a href="#mas" aria-controls="messages" role="tab" data-toggle="tab">Más</a></li>    
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                    Si usas Fedora puedes ejecutar:<br>
                                                    <pre><code class="hljs" style="word-wrap: break-word;">$ sudo yum install git-all</code></pre>
                                                    
                                                    En el caso "Debian" u alguna distribución basada en él:<br>
                                                    <pre><code class="hljs" style="word-wrap: break-word;">$ sudo apt-get install git-all</code></pre>          
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                                    La manera más sencilla sería instalar Xcode Command Line Tools y luego
                                                    intentar correr git desde el terminal.  Si git no está instalado, entonces
                                                    emergerá una ventana en donde se puede instalar.
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="messages">
                                                    Para instalarlo en Windows basta con dirigirse a la página de descarga
                                                    de <a href="http://git-scm.com/download/win">git para windows</a> y
                                                    ejecutar el instalador 
                                                </div>

                                                <div role="tabpanel" class="tab-pane fade" id="mas">
                                                    Para mayor información sobre algun Sistema Operativo diferente a los
                                                    mencionados u alguna otra forma de instalación, dirigirse a la página
                                                    de <a href="https://git-scm.com/downloads"> descargas de git</a> donde
                                                    encontraremos información extendida sobre el tema.
                                                </div>

                                            </div>

                                        </div>
                                         </section>
                                         <section data-background="http://3.bp.blogspot.com/-b_ZCZTZvScM/VV516MMUb4I/AAAAAAAAIUI/Gb2-LSHfA0o/s1600/uwhgGVt.gif">
                                             <h2>Por fin... Manos a la obra</h2>
                                             
                                         </section>
                                         
                                         <section data-state="actividad1">
						<h2>Actividad en la Consola 1</h2>
						<p>Desplazamiento bloqueado hasta que termines la actividad</p>
						<p class="fragment fade-up" data-autoslide="2500">En el terminal o consola</p>
						<p class="fragment fade-left" data-autoslide="2500">escribe el siguiente comando</p>
						<div class="row">
                                                   <div class="col-lg-10"> 
                                                       <a><pre class="fragment fade-right" data-autoslide="2500"><code class="hljs" style="word-wrap: break-word;">$ git --version</code></pre></a>
                                                   </div>
                                                <div class="col-lg-2">
                                                    <i id="act1done" style="color:greenyellow;" class=""></i>
                                                </div>
                                                    </div>
                                                <p class="fragment fade-left" data-autoslide="2500">si git está instalado, este comando nos dará como resultado la versión instalada de git</p>
						<p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red" data-autoslide="1000">En sus marcas</span> <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span class="fragment highlight-green">Fuera</span></p>
					</section>
                                             
                                             
                                             
                                         
                                         <section data-background="{{ asset('images/course/gif/happyMin.gif') }}">
                                             <h2>Felicitaciones... ya escribistes tu primer comando</h2>
                                         </section>
                                             
                                             
                                                                                          
                                             
                                        <section>
                                        <h2>Ahora Inicializar Git</h2>
                                        <p>debemos inicializar git en cada directorio (o proyecto) que nosotros queramos que git le siga la pista,
                                        esto sólo lo hacemos una sola vez por proyecto o directorio.
                                        </p>
                                        <p>
                                            en estos momentos, estamos ubicados en el proyecto
                                            que tiene por nombre tu nombre de usuario: {{ app.user.userName }}
                                        </p>
                                    </section>
                                             
                                             
                                             
                                             
                                              <section data-state="actividad2">
						<h2>Actividad en la Consola 2</h2>
						<p class="fragment fade-up" data-autoslide="2500">Desplazamiento bloqueado hasta que termines la actividad</p>
						<p class="fragment fade-up" data-autoslide="2500">En el terminal o consola</p>
						<p class="fragment fade-left" data-autoslide="2500">escribe el siguiente comando</p>
						<div class="row">
                                                   <div class="col-lg-10"> 
                                                       <a><pre class="fragment fade-right" data-autoslide="2500"><code class="hljs" style="word-wrap: break-word;">$ git init</code></pre></a>
                                                   </div>
                                                <div class="col-lg-2">
                                                    <i id="act2done" style="color:greenyellow;" class=""></i>
                                                </div>
                                                    </div>
                                                <p class="fragment fade-left" data-autoslide="2500">para indicarle a git que le siga la pista a todo nuestro directorio</p>
						<p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red" data-autoslide="1000">En sus marcas</span> <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span class="fragment highlight-green">Fuera</span></p>
					</section>
                                             
                                             <section data-background="{{ asset('images/course/gif/gitConfig2.gif') }}">
                                                 <h2 style="color:red">Configurar Git</h2>
                                                 <p style="color:black">Luego de Instalado, git debe saber quien eres
                                                     y donde ubicarte, para cuando sea hora de registrar los cambios
                                                     esa información quede registratada también...<br>Debemos configurar
                                                     nuestro nombre y nuestra dirección de correo.
                                                 </p>
                                             </section>
                                                 
                                                 <section data-background="{{ asset('images/course/gif/takingNote.gif') }}">
                                                     <br><br><br><br>
                                                     <h3 style="background-color:black; color:white; opacity:0.6;">Espero estes tomando <strong style="color:red">nota...</strong>
                                                         (esto sale en <strong style="color:red">el quiz)</strong></h3>                                                 
                                             </section>
                                             
                                             
                                       <section data-state="actividad3" class="fragment fade-up" data-autoslide="2500">
						<h2 >Actividad en la Consola 3</h2>
						<p class="fragment fade-up" data-autoslide="2500">Cumple con la Actividad para Continuar</p>
						<p class="fragment fade-up" data-autoslide="2500">En el terminal o consola</p>
						<p class="fragment fade-left" data-autoslide="2500">Comando para configurar tu nombre</p>
						<div class="row">
                                                   <div class="col-lg-10"> 
                                                       <a><pre class="fragment fade-right" data-autoslide="2500"><code class="hljs" style="word-wrap: break-word;">$ git config --global user.name "TuNombre"</code></pre></a>
                                                   </div>
                                                <div class="col-lg-2">
                                                    <i id="act3-1done" style="color:greenyellow;" class=""></i>
                                                </div>
                                                    </div>
                                                <p class="fragment fade-left" data-autoslide="2500">Luego este comando para configurar tu email</p>
						<div class="row">
                                                   <div class="col-lg-10"> 
                                                       <a><pre class="fragment fade-right" data-autoslide="2500"><code class="hljs" style="word-wrap: break-word;">$ git config --global user.eamil "tuCorreo@tuProveedor.xxx"</code></pre></a>
                                                   </div>
                                                <div class="col-lg-2">
                                                    <i id="act3-2done" style="color:greenyellow;" class=""></i>
                                                </div>
                                                    </div>
						<p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red" data-autoslide="1000">En sus marcas</span> <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span class="fragment highlight-green">Fuera</span></p>
					</section>
                                             
                                        <section data-background="{{ asset('images/course/gif/happyMin.gif') }}">
                                             <h2>Felicitaciones... Tenemos a git instalado y listo para usar.</h2>
                                         </section>
                                             
                                             <section data-state="qz" data-background="{{ asset('images/course/gif/typing2.gif') }}">
                                                 <h2>Ahora a realizar el Quiz</h2>
                                             </section>
                                             
                                             <section data-background="{{ asset('images/course/gif/clapMin.gif') }}">
                                             <h2>Felicitaciones... Unidad Terminada.</h2>
                                         </section>
                </div>

            </div> 




        </div>

        <div class="col-lg-5">
            <ul class="stat-list">
                <li>

                    <small>Progreso de este nivel</small>
                    <div class="stat-percent">0%</div>
                    <div class="progress progress-mini">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%;" class="progress-bar"></div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-lg-5">
                            Logros disponibles en este Nivel:
                        </div>
                        <div class="col-lg-7">
                            <div class="tooltip-demo">                        
                                {% set contadorObtenidos = 0 %}
                                {% for logroD in logrosDisponibles %}
                                    {% set obtenido = false %}
                                    {% for logroO in logrosObtenidos %}                                
                                        {% if logroO.idCursoModuloTemaLogro.id == logroD.id %}
                                            {% set contadorObtenidos = contadorObtenidos + 1 %}
                                            {% set obtenido = true %}
                                        {% endif %}                                    
                                    {% endfor %}
                                    {% if not obtenido %}
                                        <span id="{{ logroD.nombreCorto }}"  data-toggle="tooltip" data-placement="top" title="{{ logroD.nombre }}" class="fa-stack has-badge" data-count="{{ logroD.badge }}">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-{{ logroD.imagen }} fa-stack-1x fa-inverse"></i>
                                        </span>
                                    {% else %}                                                                
                                        {% if logroD.id == 2 %}
                                            <input type="hidden" id="quizOpen" value="true" />
                                        {% endif %}
                                        <span id="{{ logroD.nombreCorto }}"  data-toggle="tooltip" data-placement="top" title="{{ logroD.nombre }}" class="fa-stack has-badge" data-count="{{ logroD.badge }}">
                                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                            <i class="fa fa-{{ logroD.imagen }} fa-stack-1x fa-inverse"></i>
                                        </span>
                                    {% endif %}
                                {% endfor %}

                                {% if contadorObtenidos > 0 %}
                                    <input type="hidden" id="contadorObtenidos" value="{{ contadorObtenidos }}" /> 
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>



        <div class="col-lg-5 acomodar">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mis Evaluaciones</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content profile-content">

                    <div id="slickQuiz">
                        <h1 class="quizName"><!-- where the quiz name goes --></h1>

                        <div class="quizArea">
                            <div class="quizHeader">
                                <!-- where the quiz main copy goes -->

                                <a class="button_quiz startQuiz" id="btnQuiz" href="#">Comenzar Quiz!</a>

                            </div>

                            <!-- where the quiz gets built -->
                        </div>

                        <div class="quizResults">
                            <h3 class="quizScore">Tus Puntos: <span><!-- where the quiz score goes --></span></h3>

                            <h3 class="quizLevel"><strong>Nivel:</strong> <span><!-- where the quiz ranking level goes --></span></h3>
                            <a class="next_class btn btn-success" id="next_class" <a href="{{ path('estudiante_curso_programacion', { 'id': inscripcion.id, 'avance': avance + 1 }) }}">siguiente Clase!</a>
                                <input id="inscripcion" type="hidden" value="{{ inscripcion.id }}" />
                                <input id="url_ajax" type="hidden" value="{{ url('ajax_progreso') }}" />
                                <input id="url_avance" type="hidden" value="{{ url('ajax_avance') }}" />
                                <input id="tema_actual" type="hidden" value="{{ temaActual.id }}" />
                                <input id="url_evaluacion" type="hidden" value="{{ url('ajax_evaluacion') }}" />
                                <div class="quizResultsCopy">
                                    <!-- where the quiz result copy goes -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--row -->



    <div class="row">
        <div class="col-lg-7 acomodar" id="tour4">

            <div class="window" id="console-panel">
                <div class="topbar">
                    <div class="icons">
                        <div class="close"></div>
                        <div class="hide"></div>
                        <div class="maximize"></div>
                    </div>
                    <p class="wtitle">Terminal</p>
                </div>

                <pre id="preConsole"></pre>
                <form id="console">
                    <div id="currentDirName">{{ currentDirName }}/ </div>
                    <div>{{ currentUser }}$></div>
                    <div id="command"><input id="inputConsole" type="text" value=""autocomplete="off"></div>
                </form>
            </div>



        </div>


        <div class="col-lg-5 acomodar">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mi directorio</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content profile-content">

                    <div id="elfinder"></div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="flipbook-viewport">
                    <div class="container">
                        <div class="flipbook">
                            <div style="background-image:url({{ asset('images/books/1.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/2.png') }})"></div>
                            <div style="background-image:url({{ asset('images/books/3.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/4.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/5.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/1.jpg') }})"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <div class="modal fade bs-modal-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <video id="myMoov" poster="{{ asset('assets/vendor/moovly/videos/local.jpg') }}"  width="854" height="481" class="video-js vjs-default-skin vjs-big-play-centered vjs-controls-enabled vjs-has-started vjs-user-active" controls preload="none" data-setup='{"children": { "loadingSpinner": true, "controlBar": { "children": {"currentTimeDisplay": false, "timeDivider": false, "durationDisplay": false ,"volumeControl":false, "muteToggle":false}}}}'>                    
                    <source src="{{ asset('assets/vendor/moovly/videos/local.webm') }}" type='video/webm'/>
                    <source src="{{ asset('assets/vendor/moovly/videos/local.mp4') }}" type='video/mp4'/>
                    <source src="{{ asset('assets/vendor/moovly/videos/local.ogg') }}" type='video/ogg'/>
                    <p class="vjs-no-js">Para poder ver este video, necesita tener habilitado javascript y un navegador actualizado <a href="http://videojs.com/html5-video-support/" target="_blank">que soporte video con HTML 5</a></p>
                </video>

            </div>
        </div>
    </div>


    <div class="modal fade bs-modal-video2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <video id="myMoov" poster="{{ asset('assets/vendor/moovly/videos/local.jpg') }}"  width="854" height="481" class="video-js vjs-default-skin vjs-big-play-centered vjs-controls-enabled vjs-has-started vjs-user-active" controls preload="none" data-setup='{"children": { "loadingSpinner": true, "controlBar": { "children": {"currentTimeDisplay": false, "timeDivider": false, "durationDisplay": false ,"volumeControl":false, "muteToggle":false}}}}'>                    
                    <source src="{{ asset('assets/vendor/moovly/videos/central.webm') }}" type='video/webm'/>
                    <source src="{{ asset('assets/vendor/moovly/videos/central.mp4') }}" type='video/mp4'/>
                    <source src="{{ asset('assets/vendor/moovly/videos/central.ogg') }}" type='video/ogg'/>
                    <p class="vjs-no-js">Para poder ver este video, necesita tener habilitado javascript y un navegador actualizado <a href="http://videojs.com/html5-video-support/" target="_blank">que soporte video con HTML 5</a></p>
                </video>

            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %} 
    {{ parent() }}    

    <script src="{{ asset('assets/vendor/elfinder/js/elfinder.full.js') }}"type="text/javascript" ></script>
    <script src="{{ asset('assets/vendor/elfinder/js/i18n/elfinder.es.js') }}"type="text/javascript" ></script>

    <script src="{{asset('assets/vendor/revealjs/lib/js/head.min.js')}}" type="text/javascript"></script>    
    <script src="{{asset('assets/vendor/revealjs/js/reveal.js')}}" type="text/javascript"></script>    

    <script src="{{asset('assets/vendor/bootstrapTour/bootstrap-tour.min.js')}}" type="text/javascript"></script>  
    <script src="{{asset('assets/vendor/modernizr/modernizr.2.5.3.min.js')}}" type="text/javascript"></script>  
    <script src="{{asset('assets/vendor/steps/jquery.steps.min.js')}}" type="text/javascript"></script>      
    <script src="{{asset('assets/vendor/quiz/slickQuiz-config.js')}}" type="text/javascript"></script>  
    <script src="{{asset('assets/vendor/quiz/slickQuiz.js')}}" type="text/javascript"></script>  
    <script src="{{asset('assets/vendor/quiz/master.js')}}" type="text/javascript"></script>  
    <script src="{{asset('assets/vendor/toastr/toastr.min.js')}}" type="text/javascript"></script>  
    <script src="{{asset('assets/vendor/moovly/js/videojs/video.js')}}" type="text/javascript"></script>




    <script type="text/javascript">
        
        
         /**
     *  History of commands.
     */
    (function ($) {
        var maxHistory = 100;
        var position = -1;
        var currentCommand = '';
        var addCommand = function (command) {
            var ls = localStorage['commands'];
            var commands = ls ? JSON.parse(ls) : [];
            if (commands.length > maxHistory) {
                commands.shift();
            }
            commands.push(command);
            localStorage['commands'] = JSON.stringify(commands);
        };
        var getCommand = function (at) {
            var ls = localStorage['commands'];
            var commands = ls ? JSON.parse(ls) : [];
            if (at < 0) {
                position = at = -1;
                return currentCommand;
            }
            if (at >= commands.length) {
                position = at = commands.length - 1;
            }
            return commands[commands.length - at - 1];
        };

        $.fn.history = function () {
            var input = $(this);
            input.keydown(function (e) {
                var code = (e.keyCode ? e.keyCode : e.which);

                if (code == 38) { // Up
                    if (position == -1) {
                        currentCommand = input.val();
                    }
                    input.val(getCommand(++position));
                    return false;
                } else if (code == 40) { // Down
                    input.val(getCommand(--position));
                    return false;
                } else {
                    position = -1;
                }
            });

            return input;
        };

        $.fn.addHistory = function (command) {
            addCommand(command);
        };
    })(jQuery);

    
        

        /**
         * Windows variables.
         */
        window.topDir = '{{ currentDir }}';
        window.currentDir = '{{ currentDir }}';
        window.currentDirName = window.currentDir.split('/').pop();
        window.currentUser = "{{ app.user.username }}";
        window.titlePattern = "* — console";
        window.document.title = window.titlePattern.replace('*', window.currentDirName);
        var actividades = {actividad1:false, actividad2:false, actividad3: false};
        var comandos = {version:false, init:false, name: false, email: false};

        jQuery(function ($) {


            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,
                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    {src: "{{ asset('assets/vendor/revealjs/lib/js/classList.js') }}", condition: function () {
                            return !document.body.classList;
                        }},
                    {src: "{{ asset('assets/vendor/revealjs/plugin/markdown/marked.js') }}", condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }},
                    {src: "{{ asset('assets/vendor/revealjs/plugin/markdown/markdown.js') }}", condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }},
                    {src: "{{ asset('assets/vendor/revealjs/plugin/highlight/highlight.js') }}", async: true, callback: function () {
                            hljs.initHighlightingOnLoad();
                        }},
                    {src: "{{ asset('assets/vendor/revealjs/plugin/zoom-js/zoom.js') }}", async: true},
                    {src: "{{ asset('assets/vendor/revealjs/plugin/notes/notes.js') }}", async: true}
                ]
            });



            var $configUser = false;
            var screen = $('#preConsole');
            var input = $('#inputConsole').focus();
            var form = $('#console');
            var scroll = function () {
                window.scrollTo(0, document.body.scrollHeight);
            };
            input.history();
            
            form.submit(function () {


                var command = $.trim(input.val());
                if (command == '') {
                    return false;
                }

                $("<code id='preCode'>" + window.currentDirName + "&nbsp;" + window.currentUser + "$&nbsp;" + command + "</code><br>").appendTo(screen);

                //scroll();
                input.val('');
                form.hide();
                input.addHistory(command);
                var data3 = {command: command, cd: window.currentDir, user: window.currentUser, comandos: comandos};
                $.ajax({
                    method: "GET",
                    url: "{{ url('ajax_console') }}",
                    async: true,
                    cache: false,
                    data: data3,
                    //timeout: 50000,
                    success: function (data) {
                        console.log(data);

                        var pattern = /^set current directory (.+?)$/i;
                        if (matches = data.salida.match(pattern)) {
                            console.log(matches);
                            window.currentDir = matches[1];
                            window.currentDirName = window.currentDir.split('/').pop() + "/";
                            $('#currentDirName').text(window.currentDirName);
                            window.document.title = window.titlePattern.replace('*', window.currentDirName);
                        } else {
                            if (data.error === "") {
                                if (data.comando) {
                                    console.log(comandos);
                                    console.log(data.comando.match($gitConfigUser));
                                    if (data.comando.match($comandoGit)){
                                        if (data.comando.match($gitVersion)) {
                                            toastr.success("has ejecutado tu primer comando en GIT", 'Excelente');
                                            toggleNav(true);
                                            $("#act1done").addClass('fa fa-check-circle');
                                            comandos['version'] = true
                                            actividades['actividad1'] = true;
                                            $("#reto1").val("Correcto, si tenemos Git instalado y nos especifica el número de versión que tenemos instalada.")
                                        }else if (data.comando.match($gitInit)){
                                            if(comandos['version']){
                                                $("#act2done").addClass('fa fa-check-circle');
                                                actividades['actividad2'] = true;
                                                toastr.success("Has Inicializado Correctamente un repositorio GIT", 'Excelente');
                                                toggleNav(true);    
                                                comandos['init'] = true;
                                            }else{
                                               screen.append("debes verificar primero la instalacion de git con el comando git --version"); 
                                            }
                                        }else if (data.comando.match($gitConfigUser)) {

                                            toastr.success("Has configurado tu nombre de usuario", 'Excelente');
                                            $configUser = true; 
                                            $("#act3-1done").addClass('fa fa-check-circle');                                        
                                            comandos['name'] = true;
                                        }else{
                                            if(!$configUser){
                                                screen.append("debes configuar primero el nombre de usuario");
                                            }
                                        }

                                        if (data.comando.match($gitConfigMail)) {
                                            $("#act3-2done").addClass('fa fa-check-circle');
                                            actividades['actividad3'] = true
                                            toastr.success("Has Inicializado Correctamente un repositorio GIT", 'Excelente');
                                            toggleNav(true); 
                                            comandos['email'] = true;
                                        }
                                    
                                    }
                                }
                                screen.append(data.salida);
                            } else {
                                screen.append(data.error);
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown, textStatus, XMLHttpRequest);

                        //setTimeout(waitForMsg, 300000);

                    },
                    complete: function () {
                        form.show();
                        $('#inputConsole').focus();
                    }

                });
                return false;
            });

            

            $('#elfinder').elfinder({
                url: "{{ asset('assets/vendor/elfinder/php/connector.minimal.php')}}",
                lang: 'es',
                height: 250,
                customData: { user: "wramones" },
                handlers: {
                    dblclick: function (event, elfinderInstance) {
                        event.preventDefault();
                        elfinderInstance.exec('getfile')
                                .done(function () {
                                    elfinderInstance.exec('quicklook');
                                })
                                .fail(function () {
                                    elfinderInstance.exec('open');
                                });
                    }
                },
                getFileCallback: function (files, fm) {
                    return false;
                },
                uiOptions: {
                    toolbar: [
                        // toolbar configuration
                        ['open', 'edit'],
                        ['home', 'up'],
                        ['info'],
                        ['reload'],
                        ['quicklook'],
                        ['view'],
                        ['help']
                    ]
                },
                contextmenu: {
                    // navbarfolder menu
                    navbar: ['open', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'info'],
                    // current directory menu
                    cwd: ['back', '|', 'mkdir', 'mkfile', 'paste', '|', 'info'],
                    // current directory file menu
                    files: [
                        'open', 'quicklook', '|',
                        'rm', '|', 'edit', 'rename', 'info'
                    ]
                }
            });



            toastr.options = {
                "closeButton": true,
                "debug": true,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "50000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "slideDown",
                "hideMethod": "fadeOut"
            };



            $('#terminal').terminal(function (command, term) {
                var $inter = evaluar(command);

                if ($inter.chk === true) {
                    term.echo("[[;green;]" + $inter.out + "]");
                    setTimeout(function () {
                        toastr.success($inter.msg, 'Excelente');
                    }, 1200);
                } else if ($inter.chk === "done") {
                    term.echo("[[;green;]" + $inter.out + "]");
                    toastr.info($inter.msg, 'Ya ejecutado!');
                } else if ($inter.chk === "plain") {
                    term.echo($inter.out);
                    setTimeout(function () {
                        toastr.success($inter.msg, 'Excelente');
                    }, 1200);

                } else {
                    term.echo("[[;red;]" + $inter.out + "]");
                }

                if ($inter.fin) {
                    var data = {inscripcion: $('#inscripcion').val(), logro: 2};
                    var url = $('#url_ajax').val();

                    $("#btnQuiz").prop('disabled', false);
                    $("#btnQuiz").attr('disabled', false);
                    $.ajax({
                        method: "GET",
                        url: url,
                        async: true,
                        cache: false,
                        data: data,
                        //timeout: 50000,
                        success: function (data) {
                            $('.progress-bar').attr('aria-valuenow', '60');
                            $('.progress-bar').css('width', '60%');
                            $('.stat-percent').html('60%');

                            console.log(data);
                            /*if(posts.length > 0)
                             {
                             var html = "";
                             for(d in posts)
                             {
                             html += "<p>" + JSON.stringify(posts[d]) + "</p>";
                             }
                             $("#contador_solicitudes").append(html);
                             }*/
                            //$("#contador_solicitudes").html(posts);
                            //setTimeout(waitForMsg, 60000);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(errorThrown, textStatus, XMLHttpRequest);
                            //setTimeout(waitForMsg, 300000);

                        }

                    });


                    toastr.info("Has obtenido el logro de Primeros comandos en GIT", 'FELICITACIONES! Logro Desbloqueado!');
                    $("#comandos").removeClass("fa-inverse").addClass("text-warning animated rubberBand");
                    toastr.success("Quiz Disponible", 'Felicitaciones, has desbloqueado el Quiz de este nivel!');
                }

                //var $x = evaluar(command);
            }, {
                greetings: 'Interprete de Comandos del Curso, --help-- para ayuda de comandos',
                name: 'curso_git',
                prompt: 'curso_git$> ',
                onBlur: function () {
                    return false;
                }
            });






        });
        $("#btnQuiz").prop('disabled', true);
        $("#btnQuiz").attr('disabled', 'disabled');

        $("#btnQuiz").click(function () {
            var $open = $("#quizOpen").val();
            if ($open) {
                $("#btnQuiz").prop('disabled', false);
                $("#btnQuiz").attr('disabled', false);
            } else {
                var isDisabled = $('#btnQuiz').is('[disabled=disabled]');
                if (isDisabled) {
                    toastr.error("Para desbloquearlo, debes obtener los dos primeros logros de este nivel", "Quiz Bloqueado");
                }
            }

        });

        var $palabraGit = /^git$/g;
        var $comandoGit = /^git+\s+?\w?/g;
        var $gitEspacio = /^git+\s/g;
        var $configEspacio = /\bconfig+\s/g;
        var $configGlobal = /\bconfig\s+--global+\s/g;
        var $configUserName = /\bconfig\s+--global+\s+user.name+\s/g;
        var $configUserMail = /\b\s+user.email+\s/g;
        var $respuesta = /\bconfig\s+--global+\s+user.name+\s+"?\w{3,}"?/g;
        var $gitHelp = /^git+\s+\bhelp\s?\w?/g;
        var $gitInit = /^git+\s+\binit/g;
        var $gitConfigUser = /^git+\s+\bconfig\s+--global+\s+user.name+\s+"?\w{3,}"?/g;
        var $gitVersion = /^git+\s+--version$/g;
        var $gitConfigMail = /^git+\s+\bconfig\s+--global+\s+user.email+\s+"?\w{3,}"?/g;
        var $gitConfigEditor = /^git+\s+\bconfig\s+--global+\s+core.editor+\s+"?\w{3,}"?/g;
        var $gitConfigColor = /^git+\s+\bconfig\s+--global+\s+color.ui+\s+"?\w{3,}"?/g;
        var $gitConfigLineAuto = /^git+\s+\bconfig\s+--global+\s+core.autocrlf+\s+input/g;
        var $gitConfigLineSafe = /^git+\s+\bconfig\s+--global+\s+core.safecrlf+\s+true/g;
        var $gitConfigList = /^git+\s+\bconfig\s+--list/g;
        var $c = 0;
        var name = "";
        var email = "";
        function evaluar(c) {
            var $w = {};
            console.log(c);
            console.log(c.match($gitVersion));
            if (c.match($gitVersion)) {
                if ($c === 0) {
                    $c = 1;
                    $w = JSON.stringify({out: "git version 2.11.0", chk: true, msg: "Has ejecutado tu primer comando en git.  FELICITACIONES"});
                } else if ($c > 0) {
                    $w = JSON.stringify({out: "git version 2.11.0", chk: "done", msg: "El Comando GIT --VERSION ya lo has ejecutado"});
                }
                var respuesta = JSON.parse($w);
                return (respuesta);
            }

            if (c.match($gitConfigUser)) {

                if ($c === 1) {

                    $c = 2;
                    $w = JSON.stringify({out: " ", chk: true, msg: "Git no muestra ningun mensaje al configurar correctamente alguna variable. Has configurado correctamente tu nombre de usuario"});
                    name = c.substr(c.indexOf("user.name") + 9);
                } else if ($c > 1) {
                    $w = JSON.stringify({out: " ", chk: "done", msg: "Renombrado el usuario satisfactoriamente"});
                    name = c.substr(c.indexOf("user.name") + 9);
                } else {
                    $w = JSON.stringify({out: "Error, debes ejecutar primero el comando de la version instalada de git", chk: false});
                }
                var respuesta = JSON.parse($w);
                return (respuesta);
            }

            if (c.match($gitConfigMail)) {
                if ($c === 2) {
                    $c = 3;
                    $w = JSON.stringify({out: " ", chk: true, msg: "Has configurado correctamente tu dirección de Correo"});
                    email = c.substr(c.indexOf("user.email") + 10);
                } else if ($c > 2) {
                    $w = JSON.stringify({out: " ", chk: "done", msg: "Cambiada la dirección satisfactoriamente"});
                    email = c.substr(c.indexOf("user.email") + 10);
                } else {
                    $w = JSON.stringify({out: "Error, debes configurar primero tu nombre de usuario", chk: false});
                }
                var respuesta = JSON.parse($w);
                return (respuesta);
            }

            if (c.match($gitConfigList)) {
                if ($c === 3) {
                    $c = 4;
                    $w = JSON.stringify({out: "user.email=" + email + "\nuser.name=" + name + "\ncolorui=auto", chk: "plain", msg: "Has revisado tu configuración", fin: true});
                } else if ($c > 3) {
                    $w = JSON.stringify({out: "user.email=" + email + "\nuser.name=" + name + "\ncolorui=auto", chk: "plain", msg: "Ya has ejecutado este comando, puedes verificar tu información para verificar los cambios"});
                } else {
                    $w = JSON.stringify({out: "Error, debes configurar primero tu dirección de correo", chk: false});
                }
                var respuesta = JSON.parse($w);
                return (respuesta);
            }

            if (c.match($gitHelp)) {
                $w = JSON.stringify({out: "\n\nusage: git [--version] [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]\n           [-p|--paginate|--no-pager] [--no-replace-objects] [--bare]\n           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]\n           [-c name=value] [--help]\n           <command> [<args>]\n\n The most commonly used git commands are:\n   add        Add file contents to the index\n   bisect     Find by binary search the change that introduced a bug\n   branch     List, create, or delete branches\n   checkout   Checkout a branch or paths to the working tree\n   clone      Clone a repository into a new directory\n   commit     Record changes to the repository\n   diff       Show changes between commits, commit and working tree, etc\n   fetch      Download objects and refs from another repository\n   grep       Print lines matching a pattern\n   init       Create an empty git repository or reinitialize an existing one\n   log        Show commit logs\n   merge      Join two or more development histories together\n   mv         Move or rename a file, a directory, or a symlink\n   pull       Fetch from and merge with another repository or a local branch\n   push       Update remote refs along with associated objects\n   rebase     Forward-port local commits to the updated upstream head\n   reset      Reset current HEAD to the specified state\n   rm         Remove files from the working tree and from the index\n   show       Show various types of objects\n   status     Show the working tree status\n   tag        Create, list, delete or verify a tag object signed with GPG\n\nSee 'git help <command>' for more information on a specific command.", chk: "plain", msg: "Siempre es bueno consultar la ayuda. "});
                var respuesta = JSON.parse($w);
                return (respuesta);
            }


            $w = JSON.stringify({out: "Error", chk: false});
            var respuesta = JSON.parse($w);
            return (respuesta);

        }



        $(document).ready(function () {


            videojs.options.flash.swf = "{{ asset('assets/vendor/moovly/js/videojs/video-js.swf') }}";
            alert(videojs);
            $contador = $("#contadorObtenidos").val();
            alert($contador);
            for (var $i = 0; $i < $contador; $i++) {
                $('.progress-bar').css('width', $contador * 30 + '%');
                $('.stat-percent').html($contador * 30 + '%');
                $('.progress-bar').attr('aria-valuenow', $contador * 30);
            }

            $("#wizard").steps();

            // Instance the tour
            var tour = new Tour({
                steps: [{
                        title: "Bienvenido",
                        content: "¿Es la primera vez que ingresas verdad? Pues Entonces <strong>¡Bienvenido!</strong>  A través de esta guía te enseñaremos como está distribuida <i>Tu aula virtual</i> para que comiences de una vez a encender tu conocimiento.<br><br> Puedes utilizar las teclas de navegación izquiera y derecha para desplazarte a lo largo del tour. <br><br><img src='{{ asset('images/course/left-right-arrows.png') }}' alt='An opening code bracket' />",
                        placement: "bottom",
                        backdrop: true,
                        backdropContainer: '#wrapper',
                        orphan: true,
                    },
                    {
                        element: "#tour1",
                        title: "¿En donde estoy?",
                        content: "Contiene el titulo del curso y en que módulo/clase te encuentras, cuantas has aprobado y cuanto te falta para culminar.",
                        placement: "bottom",
                        backdrop: true,
                        backdropContainer: '#wrapper',
                    },
                    {
                        element: "#tour2",
                        title: "Módulos del Curso",
                        content: "Contiene en amarillo tu ubicación actual, en negro lo que falta y en azul lo que has completado.  <strong>Si pasas sobre ellos</strong>, podrás ver el título del módulo",
                        placement: "bottom",
                        onShown: function (tour) {
                            $('body').addClass('tour-open');
                        },
                        onHidden: function (tour) {
                            $('body').removeClass('tour-close');
                        }
                    },
                    {
                        element: "#tour3",
                        title: "Clase Virtual",
                        content: "En esta sección podrás disfrutar de una manera siempre interactiva de la clase correspondiente al módulo donde estás ubicado.  siempre estarán disponibles para ti para cuando las necesites.",
                        placement: "right",
                        backdrop: true,
                        backdropContainer: '#wrapper'
                    },
                    {
                        element: "#tour4",
                        title: "Área de Trabajo",
                        content: "Aquí es donde nos ensuciaremos las manos y encenderemos nuestros conocimientos, colocando manos a la obra sobre los aprendido en la clase virtual.",
                        placement: "left",
                        backdrop: true,
                        backdropContainer: '#wrapper'
                    }
                ]});

            // Initialize the tour
            tour.init();

            $('.startTour').click(function () {
                tour.restart();

                // Start the tour
                // tour.start();
            });

        });





        $("#animacion_local").click(function () {



        });




        $(document).keydown(function (e) {

            var previous = 37, next = 39;

            switch (e.keyCode) {
                case previous:

                    $('.flipbook').turn('previous');

                    break;
                case next:

                    $('.flipbook').turn('next');

                    break;
            }

        });

        function loadApp() {

            // Create the flipbook


            $('.flipbook').turn({
                // Width

                width: 822,
                // Height

                height: 600,
                // Elevation

                elevation: 10,
                // Enable gradients

                gradients: false,
                // Auto center this flipbook

                autoCenter: true

            });
        }

// Load the HTML4 version if there's not CSS transform

        yepnope({
            test: Modernizr.csstransforms,
            yep: ['{{ asset("assets/vendor/turnjs/turn.js") }}'],
            nope: ['{{ asset("assets/vendor/turnjs/turn.html4.min.js") }}'],
            both: ['{{ asset("assets/vendor/turnjs/basic.css") }}'],
            complete: loadApp
        });


        var $loading = $('#loadingBulb').hide();
        var $guardado = $('#guardado').show();
        $(document)
                .ajaxStart(function () {
                    $guardado.hide();
                    $loading.show();
                })
                .ajaxStop(function () {
                    $loading.hide();
                    $guardado.show();
                });


        $(window).load(function (e) {
            $("#inputConsole").click();
        });
        
        
        
        function toggleNav(b) {
    Reveal.configure({
        controls: b,
        progress: b,
        keyboard: b,
        overview: b,
        touch: b
    });
}
        
  Reveal.addEventListener('actividad1', function(event) {
    if (!actividades['actividad1']) {
        toggleNav(false);
    }
});

Reveal.addEventListener('actividad2', function(event) {
    if (!actividades['actividad2']) {
        toggleNav(false);
    }
});

Reveal.addEventListener('actividad3', function(event) {
    if (!actividades['actividad3']) {
        toggleNav(false);
    }
});


Reveal.addEventListener('qz', function(event) {
    if (!actividades['actividad4']) {
        toggleNav(false);
    }
});
        
       //Debo estar pendiente si pasa a la lamina 15 sin hacer el ejercicio,
       //devolverlo a la 14
       Reveal.addEventListener( 'slidechanged', function( event ) {
            // event.previousSlide, event.currentSlide, event.indexh, event.indexv
            var state = Reveal.getState();            
            console.log(event.indexh);
            console.log(state);
            if (event.indexh === 14){
                alert("hola");
            }
        } );
        
        

    </script>

{% endblock %}
