{% extends 'base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/bombillo.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/revealjs/css/reveal.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/revealjs/css/theme/moon.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/revealjs/lib/css/zenburn.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrapTour/bootstrap-tour.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/elfinder/css/elfinder.full.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/elfinder/css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetAlert/sweetalert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/animate/animate.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/vendor/quiz/slickQuiz.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/quiz/master.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/steps/jquery.steps.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/iziToast/dist/css/iziToast.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/moovly/css/videojs/video-js.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/moovly/css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/git.css') }}" >





{% endblock %}

{% block tituloCurso  %} Bienvenido a tu curso: {{ inscripcion.idCursoGrupo.idCurso.nombre }} {% endblock %}

{% block mainTitle %}
    <div class="row wrapper border-bottom white-bg page-heading" id="tour1">

        <div class="col-sm-4">
            <ol class="breadcrumb">
                <li>

                    <h4><img id="guardado" src="{{ asset('images/course/lightbulbOn6.png') }}" width="36px"/><img
                                id="loadingBulb" src="{{ asset('images/course/bulb.gif') }}" width="36px"/> Progreso del
                        Curso</h4>
                </li>


                <li class="tooltip-demo" id="tour2">
                    {% for temas in cursoModulo.temas %}
                        {% if temas.orden < avance %}
                            <a class="fa fa-github fa-2x encendido" data-toggle="tooltip" data-placement="top"
                               title="{{ temas.orden }}: {{ temas.idTema.nombre }}"></a>
                        {% elseif temas.orden == avance %}
                            <a class="fa fa-github fa-2x current" data-toggle="tooltip" data-placement="top"
                               title="{{ temas.orden }}: {{ temas.idTema.nombre }}"></a>
                        {% elseif temas.orden > avance %}
                            <a class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top"
                               title="{{ temas.orden }}: {{ temas.idTema.nombre }}"></a>
                        {% endif %}
                    {% endfor %}


                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a href="#" class="btn btn-primary startTour">Tour por mi aula virtual</a>
            </div>
        </div>


    </div>

{% endblock %}



{% block body %}



    <div class="row">
        <div class="col-lg-7" style="height:400px" id="tour3">

            <div class="reveal">

                <!-- Any section element inside of this container is displayed as a slide -->
                <div class="slides">
                    <section data-background-image="{{ asset('images/course/bg_git.jpg') }}">
                        <h1>Fundamentos de GIT</h1>
                        <h3>El Controlador de versiones distribuido Libre</h3>
                        <p>
                            <small>Creado por <a href="www.tecnolineaparaguana.com.ve">Wilmer Ramones</a> / <a
                                        href="http://twitter.com/wramonesr">@wramonesr</a></small>
                        </p>
                    </section>

                    <section data-transition="zoom" data-background="{{ asset('images/course/gif/lightbulb2.gif') }}">
                        <h2 style="background-color: #3e495f; opacity: 0.6;">
                            Gracias por encender tu conocimiento con Tecnolíne@
                            Paraguaná.
                        </h2>
                    </section>


                    <section data-transition="concave"
                             data-background="{{ asset('images/course/gif/earthRotation.gif') }}">


                        <h2 style="color:white; background-color: #3e495f; opacity: 0.6;">Presentación <strong > Multiespacial </strong></h2>
                        <p style="color:white; background-color: #3e495f; opacity: 0.6;">
                            Para navegar por todas la láminas es recomendable utilizar "Barra Espaciadora"
                            para disfrutar de todas las diapositivas.
                        </p>
                    </section>


                    <section>
                        <h3>Objetivos de Este módulo:</h3>
                        <ul>
                            <li class="fragment fade-left" data-autoslide="2500">¿Qué es Controlador de Versiones?</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Qué es Git?</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Cómo instalar Git?</li>
                            <li class="fragment fade-left" data-autoslide="2500">Crear un proyecto</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Como Inicializar git?</li>
                            <li class="fragment fade-left" data-autoslide="2500">¿Como configurar Git?</li>
                        </ul>

                    </section>

                    <!-- Example of nested vertical slides -->


                    <section>
                        <section>
                            <h2>Trabajo Creativo</h2>
                            <p>
                                Si eres un diseñador, desarrollador o programador,
                                entonces has pasado por los pasos de:
                            </p>

                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42"
                                         height="42" class="animated infinite bounce"/>
                                    <p>
                                        <small><strong>crear</strong></small>
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42"
                                         height="42" class="animated infinite flip"/>
                                    <p>
                                        <small><strong>Guardar</strong></small>
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42"
                                         height="42" class="animated infinite bounce"/>
                                    <p>
                                        <small><strong>Editar</strong></small>
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <img src="{{ asset('images/course/square.png') }}" alt="A blue square" width="42"
                                         height="42" class="animated infinite flip"/>
                                    <p>
                                        <small><strong>Guardar Nuevamente</strong></small>
                                    </p>
                                </div>

                            </div>

                            <h4>¿Verdad que sí?</h4>
                            <p>Incluso me atrevo a decir que
                                has guardado el mismo documento
                                con otro nombre... ¿verdad?</p>
                        </section>
                        <section data-background="http://i.giphy.com/90F8aUepslB84.gif">
                            <h2>No mientas.... jejejej</h2>
                            <p style="background-color: #3e495f; opacity: 0.6; color:white;">Algo como esto hemos hecho alguna vez en nuestra vidas</p>

                        </section>

                        <section data-background="{{ asset('images/course/reguardado1.jpg') }}">
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Terminas el Trabajo</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Te hacen correcciones</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Y al hacer las
                                correcciones...</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Le colocas otro nombre el
                                trabajo</p>
                        </section>

                        <section data-background="{{ asset('images/course/reguardado2.jpg') }}">
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Te lo vuelven a corregir</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Le haces los cambios</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Y otra vez...</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Le colocas otro nombre el
                                trabajo</p>
                        </section>

                        <section data-background="{{ asset('images/course/reguardado3.jpg') }}">
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Y así sucesivamente</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Hasta tener un nombre largo</p>
                            <p class="fragment fade-left" data-autoslide="2500"
                               style="background-color:black; color:white; opacity:0.6;">Difícil de manejar y
                                controlar</p>
                        </section>
                    </section>

                    <section>
                        <h2>Te ha pasado ¿verdad?</h2>
                        <p>Sin darte cuenta, estabas utilizando tu propio
                            sistema manual para manejar los cambios de tus archivos...
                            pero es muy difícil de controlar.  Por eso nacieron los sistemas
                            automatizados controladores de versiones.</p>
                    </section>

                    <section>
                        <section data-background="{{ asset('images/course/gif/thinking.gif') }}">
                            <h2 style="color:black">¿Que es un Controlador de Versiones?</h2>
                        </section>
                        <section>
                            <p>Un Controlador de Versiones (VCS en inglés)
                                es un sistema que registra los cambios
                                ocurridos durante la <strong>creación, guardado,
                                    editado y guardado</strong> nuevamente en uno o varios
                                archivos. </p>
                        </section>
                        <section
                                data-background="http://33.media.tumblr.com/d6e357b4974443d8e972bd39a87ec17a/tumblr_n4f2rhFzgC1tvnszbo2_250.gif">
                            <h2 style="color:white; background-color: #3e495f; opacity: 0.6;">Excelente verdad... y no has <strong>visto los beneficios</strong></h2>
                        </section>
                    </section>


                    <section>
                        <section data-background="{{ asset('images/course/gif/benefits.gif') }}">
                            <h2 style="color:white; background-color: #3e495f; opacity: 0.6;"><strong>Algunos Beneficios al usar Controladores de Versiones</strong></h2>
                        </section>
                        <section data-background="{{ asset('images/course/gif/equipo.gif') }}">
                            <h2><strong>Colaboración</strong></h2>
                            <p style="background-color:black; color:white; opacity:0.6;">
                                Con un CVS tu equipo de trabajo o tu, pueden trabar libremente
                                en el mismo archivo sin tropezarse, esperar que alguno termine y sin pisarse los pies".
                            </p>
                        </section>
                        <section data-background="{{ asset('images/course/gif/tranquilo.gif') }}">
                            <h2>Respaldar</h2>
                            <p style="background-color:black; color:white; opacity:0.6;">
                                Si hay un incendio o perdistes la información, puedes trabajar
                                tranquilo.... es casi imposible equivocarse o perder por
                                completo el trabajo. <strong>Puedes trabajar relajado.</strong>
                            </p>

                        </section>

                        <section data-background="{{ asset('images/course/incendioGit.jpg') }}">
                            <h3>

                            </h3>
                        </section>

                        <section data-background="{{ asset('images/course/gif/tellType.gif') }}">
                            <h2 style="color:black;">Descripción</h2>
                            <p style="background-color:black; color:white; opacity:0.6;">
                                cada vez que vas a guardar los cambios en tu VCS, este
                                te solicita que escribas una descripción de los cambios
                                que has realizado y así tener la "historia" de los cambios
                                de tu proyecto.
                            </p>
                        </section>


                    </section>
                    <section>
                        <section>
                            <h2>Tipos de Controlador de Versiones</h2>
                            <p>(barra espaciadora para ver cada animación)</p>

                        </section>
                        <section id="vcs-local"
                                 data-background-video="{{ asset('assets/vendor/moovly/videos/local.webm') }}">

                        </section>
                        <section id="vcs-centralizado"
                                 data-background-video="{{ asset('assets/vendor/moovly/videos/central.webm') }}">

                        </section>


                        <section data-background="{{ asset('images/course/gif/centralizedDistributed2.gif') }}">
                        </section>
                    </section>

                    <section data-background="{{ asset('images/course/gif/takingNote.gif') }}">
                        <h3 style="background-color:black; color:white; opacity:0.6;">Nacimiento de GIT</h3>
                        <p style="background-color:black; color:white; opacity:0.6;">
                            La historia del nacimiento de GIT es muy interesante.
                            Te invitamos a leer la historia presionando en el botón
                        </p>
                        <a class="btn btn-primary btn-block btn-lg" data-toggle="modal"
                           data-target=".bs-example-modal-lg">Leer Historia de GIT</a>
                    </section>

                    <section data-background="{{ asset('images/course/queGit.jpg') }}">
                        <h1 style="color:black;">Entonces <br>¿Que es GIT?</h1>
                    </section>

                    <section>
                        <h2>GIT</h2>
                        <p>
                            Git <em>(pronunciado "guit")</em> es un software de control de versiones
                            diseñado por Linus Torvalds, pensando en la eficiencia y la confiabilidad
                            del mantenimiento de versiones de aplicaciones cuando éstas tienen un gran
                            número de archivos de código fuente.
                        </p>
                    </section>

                    <section data-background="{{ asset('images/course/terminal.gif') }}">
                        <h2>¡Advertencia! Este curso usa extensivamente el Terminal</h2>
                        <p style="background-color:black; color:white; opacity:0.6;">Los comandos de git serán ejecutadas en la consola  o terminal y
                            <strong>debemos aprender a usarla</strong></p>
                    </section>


                    <section data-background="{{ asset('images/course/gif/noTeVayas.gif') }}">
                        <h2>Alto!!!!!</h2>
                        <p style="background-color:black; color:white; opacity:0.6;">
                            No te vayas todavía.... Espera
                        </p>
                    </section>

                    <section>
                        <h2>Es cierto</h2>
                        <p>
                            Existen interfaces gráficas, pero, pero... pero...<br>
                            te recomiendo aprender
                            a usar la <strong>consola</strong>.<br>
                            Te explico, si usas la consola puedes
                            exportar todos esos conocimientos cualquier software gráfico de git,
                            pero no pasa lo mismo si es viceversa... </p>
                    </section>

                    <section data-background="{{ asset('images/course/terminal.gif') }}">
                        <p style="background-color:white; color:black; opacity:0.6;">
                            Así que sin miedo <br> a usar
                            la consola o terminal..
                    </section>


                    <section data-background="{{ asset('images/course/gif/installGit.gif') }}">
                        <h3>Antes de usar Git, primero debemos instalarlo</h3>
                        <p style="background-color:black; color:white; opacity:0.6;">
                            En este curso, <strong>GIT ya está instalado</strong> y listo para
                            usar (no tienes que instarlo en tu máquina si no quieres), de todas formaspero te mostramos
                            los pasos en los distintos Sistemas Operativos para que lo instales y pongas
                            en práctica lo aprendido.</p>
                    </section>
                    <section>
                        <h3>Instalación de GIT</h3>
                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                          data-toggle="tab">Linux</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                           data-toggle="tab">Mac</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                                           data-toggle="tab">Windows</a></li>
                                <li role="presentation"><a href="#mas" aria-controls="messages" role="tab"
                                                           data-toggle="tab">Más</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    Si usas Fedora puedes ejecutar:<br>
                                    <pre><code class="hljs"
                                               style="word-wrap: break-word;">$ sudo yum install git-all</code></pre>

                                    En el caso "Debian" u alguna distribución basada en él:<br>
                                    <pre><code class="hljs" style="word-wrap: break-word;">$ sudo apt-get install git-all</code></pre>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                    La manera más sencilla sería instalar Xcode Command Line Tools y luego
                                    intentar correr git desde el terminal. Si git no está instalado, entonces
                                    emergerá una ventana en donde se puede instalar.
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="messages">
                                    Para instalarlo en Windows basta con dirigirse a la página de descarga
                                    de <a href="http://git-scm.com/download/win">git para windows</a> y
                                    ejecutar el instalador
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="mas">
                                    Para mayor información sobre algun Sistema Operativo diferente a los
                                    mencionados u alguna otra forma de instalación, dirigirse a la página
                                    de <a href="https://git-scm.com/downloads"> descargas de git</a> donde
                                    encontraremos información extendida sobre el tema.
                                </div>

                            </div>

                        </div>
                    </section>
                    <section data-state="actividad0"
                             data-background="http://3.bp.blogspot.com/-b_ZCZTZvScM/VV516MMUb4I/AAAAAAAAIUI/Gb2-LSHfA0o/s1600/uwhgGVt.gif">
                        <h2>Por fin... Manos a la obra</h2>

                    </section>

                    <section data-state="actividad1">
                        <h2>Actividad en la Consola 1</h2>
                        <h3>Comprobar si git está instalado</h3>
                        <p class="fragment fade-up" data-autoslide="2500">En el terminal o consola</p>
                        <p class="fragment fade-left" data-autoslide="2500">escribe el siguiente comando</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ git --version</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act1done" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>
                        <p class="fragment fade-left" data-autoslide="2500">si git está instalado, este comando nos dará
                            como resultado la versión instalada de git</p>
                        <p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red"
                                                                                 data-autoslide="1000">En sus marcas</span>
                            <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span
                                    class="fragment highlight-green">Fuera</span></p>
                    </section>


                    <section data-background="{{ asset('images/course/gif/happyMin.gif') }}">
                        <h2>Felicitaciones... ya escribistes tu primer comando</h2>
                    </section>

                    <section>
                        <h2> Crear un proyecto </h2>
                        <p>
                            Sabiendo que tenemos git instalado, vamos a crear un directorio
                            donde va a vivir nuestro proyecto.
                        </p>
                        <h3>Puedes Elegir como crear el directorio</h3>
                        <a href="#/22">En la consola</a><br>
                        <a href="#/23">En el manejador de Archivos</a>
                    </section>



                    <section data-state="actividad4">
                        <h2>Actividad en la Consola 2</h2>
                        <h3>Crear un directorio en la Consola</h3>
                        <p class="fragment fade-left" data-autoslide="2500">en estos momentos estás dentro de tu directorio</p>
                        <p>octonautas/ {{ app.user.username }}</p>
                        <p class="fragment fade-left" data-autoslide="2500">desde allí, escribe el siguiente comando</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">mkdir nombre_proyecto</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act4done" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>


                        <p class="fragment fade-left" data-autoslide="2500">Puedes colocarle el nombre que desees a tu proyecto</p>

                        <p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red"
                                                                                 data-autoslide="1000">En sus marcas</span>
                            <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span
                                    class="fragment highlight-green">Fuera</span></p>
                    </section>

                    <section data-state="actividad4">
                        <h2>Actividad en la Consola 2</h2>
                        <h3>Crear un directorio</h3>
                        <p class="fragment fade-up" data-autoslide="2500">En el terminal o consola</p>
                        <p class="fragment fade-left" data-autoslide="2500">escribe el siguiente comando</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ git --version</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act1done" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>
                        <p class="fragment fade-left" data-autoslide="2500">si git está instalado, este comando nos dará
                            como resultado la versión instalada de git</p>
                        <p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red"
                                                                                 data-autoslide="1000">En sus marcas</span>
                            <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span
                                    class="fragment highlight-green">Fuera</span></p>
                    </section>


                    <section data-background="{{ asset('images/course/gif/clapMin.gif') }}">
                        <h2>Felicitaciones, ya tenemos un proyecto.</h2>
                    </section>



                    <section>
                        <section>
                            <h2>Inicializar GIT</h2>

                        </section>
                        <section data-background="{{ asset('images/course/gif/seguir.gif') }}">
                            <h2>Si nosotros queremos que Git siga y <strong>versione</strong> nuestro proyecto</h2>
                        </section>

                        <section data-background="{{ asset('images/course/gif/seguir.gif') }}">
                            <h2>debemos inicializarlo <strong><u>dentro del directorio raiz del proyecto</u></strong>
                            </h2>
                        </section>

                        <section data-background="{{ asset('images/course/gif/detective.gif') }}">
                            <h2 style="color:black;">Así git podrá seguir como a un detective, nuestros cambios</h2>
                        </section>
                        <section>
                            <h2>Recuerda...</h2>
                            <p>Para inicializar GIT, debemos estar dentro del directorio
                                de nuestro proyecto a versionar.</p>
                            <h3>Importante:</h3>
                            <p>
                                Si nuestro proyecto está avanzado o ya comenzado,
                                también podemos comenzar a gestionarlo a través del
                                mismo comando.
                            </p>

                        </section>
                    </section>


                    <section data-state="actividad2">
                        <h2>Actividad en la Consola 2</h2>
                        <h3 class="fragment fade-up" data-autoslide="2500">Adivina que vamos a hacer.....</h3>
                        <p class="fragment fade-up" data-autoslide="2500">En el terminal o consola</p>
                        <p class="fragment fade-left" data-autoslide="2500">escribe el comando ingresar a tu proyecto</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ cd nombre_proyecto</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act2done1" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>

                        <p>ahora que estamos dentro de tu proyecto, ejecuta</p>

                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ git init</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act2done2" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>


                        <p class="fragment fade-down" data-autoslide="500"><span class="fragment highlight-red"
                                                                                 data-autoslide="1000">En sus marcas</span>
                            <span class="fragment highlight-blue" data-autoslide="1000">Listos</span> <span
                                    class="fragment highlight-green">Fuera</span></p>
                    </section>

                    <section>
                        <section data-background="{{ asset('images/course/gif/takingNote.gif') }}">
                            <h3 style="background-color:black; color:white; opacity:0.6;">
                                ¿Te distes cuenta del mensaje?
                            </h3>
                        </section>
                        <section>
                            <h3>"Veamos un recuento de lo que hemos hecho"</h3>
                            <p>comenzando desde la creación del directorio del proyecto, hasta
                            inicializar GIT (en la consola por su puesto...)</p>
                        </section>
                        <section data-background-size="cover"
                                 data-background="{{ asset('images/course/gif/gitinit.gif') }}">
                            <br><br><br><br><br>
                            <ul>
                                <li><strong>mkdir + nombre_del_proyecto:</strong> para crear el direcotrio del proyecto</li>
                                <li><strong>cd nombre_del_proyecto:</strong> ingresar al directorio.</li>
                                <li><strong>git init:</strong> para inicializar git y siga todo lo que entre, salga y los cambios que hagamos</li>
                            </ul>
                        </section>
                        <section>
                            <h2>¿Que acaba de ocurrir?</h2>
                            <p>
                                Cuando ejecutamos git init, se creó
                                un directorio oculto <strong><u>.git</u></strong> en la raiz
                                de nuestro proyecto que contiene los
                                metadatos necesarios para seguir los
                                cambios de nuestro repositorio.
                            </p>
                        </section>

                        <section>
                            <h2>.git</h2>
                            <p> puedes consultar el contenido del directorio
                                oculto desde "tu directorio" virtual o desde la consola. En el próximo video explicaremos el contenido...
                                no te preocupes</p>
                        </section>
                    </section>

                    <section data-background="{{ asset('images/course/gif/gitConfig2.gif') }}">
                        <h2 style="color:red">Configurar Git</h2>
                        <p style="color:black">Luego de Instalado, git debe saber <strong>quien eres</strong>
                            y donde <strong>ubicarte</strong>, para cuando sea hora de registrar los cambios
                            esa información quede registratada también...<br>Debemos configurar
                            nuestro nombre y nuestra dirección de correo.
                        </p>
                    </section>

                    <section data-background="{{ asset('images/course/gif/takingNote.gif') }}">
                        <br><br><br><br>
                        <h3 style="background-color:black; color:white; opacity:0.6;">Espero estes tomando <strong
                                    style="color:red">nota...</strong>
                            (esto sale en <strong style="color:red">el quiz)</strong></h3>
                    </section>


                    <section data-state="actividad3" class="fragment fade-up">
                        <h2>Actividad 3 Configurar GIT</h2>
                        <p class="fragment fade-left" data-autoslide="2500">Comando para configurar tu nombre</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ git config --global user.name "TuNombre"</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act3-1done" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>
                        <p class="fragment fade-left" data-autoslide="2500">Luego este comando para configurar tu
                            email</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right" data-autoslide="2500"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ git config --global user.email "correo@dominio.xxx"</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act3-2done" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>
                        <p class="fragment fade-left" data-autoslide="2500">si ya tienes configurado git, puedes ejecutar el siguiente comando para listar tu información</p>
                        <div class="row">
                            <div class="col-xs-10">
                                <a>
                                    <pre class="fragment fade-right"><code class="hljs"
                                                                                                 style="word-wrap: break-word;">$ git config --list"</code></pre>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <i id="act3-2done" style="color:greenyellow;" class=""></i>
                            </div>
                        </div>
                    </section>

                    <section data-background="{{ asset('images/course/gif/happyMin.gif') }}">
                        <h2>Felicitaciones... Tenemos a git instalado y listo para usar.</h2>
                    </section>

                    <section data-state="qz" data-background="{{ asset('images/course/gif/typing2.gif') }}">
                        <h2 style="background-color: #B0125E;">Ahora a realizar el Quiz</h2>
                    </section>

                    <section data-background="{{ asset('images/course/gif/clapMin.gif') }}">
                        <h2>Felicitaciones... Unidad Terminada.</h2>
                    </section>
                </div>

            </div>


        </div>

        <div class="col-lg-5">
            <ul class="stat-list">
                <li>

                    <small>Progreso de este nivel</small>
                    <div class="stat-percent">0%</div>
                    <div class="progress progress-mini">
                        <div id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             style="width: 10%;" class="progress-bar"></div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-lg-5">
                            Logros disponibles en este Nivel:
                        </div>
                        <div class="col-lg-7">
                            <div class="tooltip-demo">
                                {% set contadorObtenidos = 0 %}
                                {% for logroD in logrosDisponibles %}
                                    {% set obtenido = false %}
                                    {% for logroO in logrosObtenidos %}
                                        {% if logroO.idCursoModuloTemaLogro.id == logroD.id %}
                                            {% set contadorObtenidos = contadorObtenidos + 1 %}
                                            {% set obtenido = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not obtenido %}
                                        <span id="{{ logroD.nombreCorto }}" data-toggle="tooltip" data-placement="top"
                                              title="{{ logroD.nombre }}" class="fa-stack has-badge"
                                              data-count="{{ logroD.badge }}">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-{{ logroD.imagen }} fa-stack-1x fa-inverse"></i>
                                        </span>
                                    {% else %}
                                        {% if logroD.id == 2 %}
                                            <input type="hidden" id="quizOpen" value="true"/>
                                        {% endif %}
                                        <span id="{{ logroD.nombreCorto }}" data-toggle="tooltip" data-placement="top"
                                              title="{{ logroD.nombre }}" class="fa-stack has-badge"
                                              data-count="{{ logroD.badge }}">
                                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                            <i class="fa fa-{{ logroD.imagen }} fa-stack-1x fa-inverse"></i>
                                        </span>
                                    {% endif %}
                                {% endfor %}

                                {% if contadorObtenidos > 0 %}
                                    <input type="hidden" id="contadorObtenidos" value="{{ contadorObtenidos }}"/>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>


        <div class="col-lg-5 acomodar">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mis Evaluaciones</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content profile-content">

                    <div id="slickQuiz">
                        <input type="hidden" name="qnumber" id="qnumber" value="1">
                        <h1 class="quizName"><!-- where the quiz name goes --></h1>

                        <div class="quizArea">
                            <div class="quizHeader">
                                <!-- where the quiz main copy goes -->

                                <a class="button_quiz startQuiz" id="btnQuiz" href="#">Comenzar Quiz!</a>

                            </div>

                            <!-- where the quiz gets built -->
                        </div>

                        <div class="quizResults">
                            <h3 class="quizScore">Tus Puntos: <span><!-- where the quiz score goes --></span></h3>

                            <h3 class="quizLevel"><strong>Nivel:</strong> <span><!-- where the quiz ranking level goes --></span>
                            </h3>
                            <a class="next_class btn btn-success" id="next_class"
                               href="{{ path('estudiante_curso_programacion', { 'id': inscripcion.id, 'avance': avance + 1 }) }}">siguiente
                                Clase!</a>
                            <input id="inscripcion" type="hidden" value="{{ inscripcion.id }}"/>
                            <input id="url_exp" type="hidden" value="{{ url('gamificacion_add_xp') }}"/>
                            <input id="url_logro" type="hidden" value="{{ url('gamificacion_add_logro') }}"/>
                            <input id="url_avance" type="hidden" value="{{ url('ajax_avance') }}"/>
                            <input id="tema_actual" type="hidden" value="{{ temaActual.id }}"/>
                            <input id="url_evaluacion" type="hidden" value="{{ url('ajax_evaluacion') }}"/>
                            <div class="quizResultsCopy">
                                <!-- where the quiz result copy goes -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--row -->



    <div class="row">
        <div class="col-lg-7 acomodar" id="tour4">

            <div class="window" id="console-panel">
                <div class="topbar">
                    <div class="icons">
                        <div class="close"></div>
                        <div class="hide"></div>
                        <div class="maximize"></div>
                    </div>
                    <p class="wtitle">Terminal</p>
                </div>

                <pre id="preConsole"></pre>
                <form id="console">
                    <div id="currentDirName">{{ currentDirName }}/</div>
                    <div>{{ currentUser }}$></div>
                    <div id="command"><input id="inputConsole" type="text" value="" autocomplete="off"></div>
                </form>
            </div>

        </div>


        <div class="col-lg-5 acomodar">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Manejador de Archivos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content profile-content">

                    <div id="elfinder"></div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="flipbook-viewport">
                    <div class="container">
                        <div class="flipbook">
                            <div style="background-image:url({{ asset('images/books/1.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/2.png') }})"></div>
                            <div style="background-image:url({{ asset('images/books/3.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/4.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/5.jpg') }})"></div>
                            <div style="background-image:url({{ asset('images/books/1.jpg') }})"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>






{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/vendor/elfinder/js/elfinder.full.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/elfinder/js/i18n/elfinder.es.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/vendor/revealjs/lib/js/head.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/revealjs/js/reveal.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/sweetAlert/sweetalert.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/vendor/bootstrapTour/bootstrap-tour.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/modernizr/modernizr.2.5.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/steps/jquery.steps.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/quiz/slickQuiz-config.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/quiz/slickQuiz.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/quiz/master.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/iziToast/dist/js/iziToast.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/moovly/js/videojs/video.js') }}" type="text/javascript"></script>




    <script type="text/javascript">


        /**
         *  History of commands.
         */
        (function ($) {
            var maxHistory = 100;
            var position = -1;
            var currentCommand = '';
            var addCommand = function (command) {
                var ls = localStorage['commands'];
                var commands = ls ? JSON.parse(ls) : [];
                if (commands.length > maxHistory) {
                    commands.shift();
                }
                commands.push(command);
                localStorage['commands'] = JSON.stringify(commands);
            };
            var getCommand = function (at) {
                var ls = localStorage['commands'];
                var commands = ls ? JSON.parse(ls) : [];
                if (at < 0) {
                    position = at = -1;
                    return currentCommand;
                }
                if (at >= commands.length) {
                    position = at = commands.length - 1;
                }
                return commands[commands.length - at - 1];
            };

            $.fn.history = function () {
                var input = $(this);
                input.keydown(function (e) {
                    var code = (e.keyCode ? e.keyCode : e.which);

                    if (code == 38) { // Up
                        if (position == -1) {
                            currentCommand = input.val();
                        }
                        input.val(getCommand(++position));
                        return false;
                    } else if (code == 40) { // Down
                        input.val(getCommand(--position));
                        return false;
                    } else {
                        position = -1;
                    }
                });

                return input;
            };

            $.fn.addHistory = function (command) {
                addCommand(command);
            };
        })(jQuery);


        /**
         * Windows variables.
         */
        window.topDir = '{{ currentDir }}';
        mkd = '{{ mkdir }}'
        window.currentDir = '{{ currentDir }}';
        window.currentDirName = window.currentDir.split('/').pop();
        repositorio = '{{ repositorio }}';
        window.currentUser = "{{ app.user.username }}";
        window.titlePattern = "* — console";
        window.document.title = window.titlePattern.replace('*', window.currentDirName);
        var actividades = {actividad0: false, actividad1: false, actividad2: false, actividad3: false, actividad4:false, actividad5: false};
        var comandos = {version: false, init: false, name: false, email: false, mkdir: false, cd:false, list:false};


        if(mkd) {
            if (repositorio) {
                comandos['version'] = true;
                comandos['init'] = true;
                comandos['mkdir'] = true;
                comandos['cd'] = true;

                actividades['actividad0'] = true;
                actividades['actividad1'] = true;
                actividades['actividad2'] = true;
                actividades['actividad4'] = true;

            }else{
                comandos['version'] = true;
                comandos['init'] = true;
                comandos['mkdir'] = true;

                actividades['actividad0'] = true;
                actividades['actividad1'] = true;
            }
        }
        console.log(actividades);
        jQuery(function ($) {


            Reveal.initialize({
                controls: true,
                progress: true,
                history: false,
                center: true,
                autoSlideStoppable: false,
                slideNumber: false,
                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    {
                        src: "{{ asset('assets/vendor/revealjs/lib/js/classList.js') }}", condition: function () {
                        return !document.body.classList;
                    }
                    },
                    {
                        src: "{{ asset('assets/vendor/revealjs/plugin/markdown/marked.js') }}", condition: function () {
                        return !!document.querySelector('[data-markdown]');
                    }
                    },
                    {
                        src: "{{ asset('assets/vendor/revealjs/plugin/markdown/markdown.js') }}",
                        condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }
                    },
                    {
                        src: "{{ asset('assets/vendor/revealjs/plugin/highlight/highlight.js') }}",
                        async: true,
                        callback: function () {
                            hljs.initHighlightingOnLoad();
                        }
                    },
                    {src: "{{ asset('assets/vendor/revealjs/plugin/zoom-js/zoom.js') }}", async: true},
                    {src: "{{ asset('assets/vendor/revealjs/plugin/notes/notes.js') }}", async: true}
                ]
            });


            var $configUser = false;
            var screen = $('#preConsole');
            var input = $('#inputConsole').focus();
            var form = $('#console');

            input.history();

            form.submit(function () {


                var command = $.trim(input.val());
                if (command == '') {
                    return false;
                }

                $("<code id='preCode'>" + window.currentDirName + "&nbsp;" + window.currentUser + "$&nbsp;" + command + "</code><br>").appendTo(screen);

                //scroll();
                input.val('');
                form.hide();
                input.addHistory(command);
                var data3 = {command: command, cd: window.currentDir, user: window.currentUser, comandos: comandos};
                $.ajax({
                    method: "GET",
                    url: "{{ url('ajax_console') }}",
                    async: true,
                    cache: false,
                    data: data3,
                    //timeout: 50000,
                    success: function (data) {
                        console.log(data);
                        if(data.error === "") {
                            var pattern = /^set current directory (.+?)$/i;
                            if (matches = data.salida.match(pattern)) {
                                console.log(matches);
                                window.currentDir = matches[1];
                                window.currentDirName = window.currentDir.split('/').pop() + "/";
                                $('#currentDirName').text(window.currentDirName);
                                window.document.title = window.titlePattern.replace('*', window.currentDirName);
                                if(comandos['mkdir']){
                                    comandos['cd'] = true;
                                    $("#act2done1").addClass('fa fa-check-circle');
                                }
                            } else {
                                if (data.error === "") {
                                    if (data.comando) {
                                        console.log(comandos);
                                        console.log(data.comando.match($mkdir));
                                        if (data.comando.match($comandoGit)) {
                                            if (data.comando.match($gitVersion)) {
                                                toggleNav(true);
                                                $("#act1done").addClass('fa fa-check-circle');
                                                if (!actividades['actividad1'])
                                                    add_logro("comandos", "comandos1.png");
                                                comandos['version'] = true;
                                                actividades['actividad1'] = true;
                                                $("#progressbar").css("width", "35%");
                                                $("#progressbar").attr("aria-valuenow", "35%");
                                                $('.stat-percent').html('35%');

                                                //$("#reto1").val("Correcto, si tenemos Git instalado y nos especifica el número de versión que tenemos instalada.")
                                            } else if (data.comando.match($gitInit)) {
                                                if ((comandos['version']) && (comandos['cd'])) {
                                                    $("#act2done2").addClass('fa fa-check-circle');
                                                    if (!actividades['actividad2'])
                                                        add_logro("comandos", "comandos1.png");
                                                    actividades['actividad2'] = true;
                                                    toggleNav(true);
                                                    comandos['init'] = true;
                                                    $("#progressbar").css("width", "45%");
                                                    $("#progressbar").attr("aria-valuenow", "45%");
                                                    $('.stat-percent').html('45%');
                                                } else {
                                                    screen.append("debes estar ubicado dentro de tu directorio del proyecto");
                                                }
                                            }else if (data.comando.match($gitConfigList)){
                                                console.log("data.salida: " + data.salida.includes("user.name"));
                                                if(data.salida.includes("user.name")){
                                                    comandos['name'] = true;
                                                    console.log(comandos);
                                                }
                                                if(data.salida.includes("user.email")){
                                                    comandos['email'] = true;
                                                }
                                                if((comandos['name']) && (comandos['email'])){
                                                    actividades['actividad3'] = true;
                                                    toggleNav(true);
                                                }
                                                console.log(comandos);
                                                console.log(actividades);
                                            } else if (data.comando.match($gitConfigUser)) {

                                                if (!comandos['name'])
                                                    add_logro("comandos", "comandos1.png");
                                                $configUser = true;
                                                $("#act3-1done").addClass('fa fa-check-circle');
                                                comandos['name'] = true;
                                                $("#progressbar").css("width", "55%");
                                                $("#progressbar").attr("aria-valuenow", "55%");
                                                $('.stat-percent').html('55%');
                                            } else {
                                                if (!$configUser) {
                                                    screen.append("debes configuar primero el nombre de usuario");
                                                }
                                            }

                                            if (data.comando.match($gitConfigMail)) {
                                                $("#act3-2done").addClass('fa fa-check-circle');
                                                if (!actividades['actividad3'])
                                                    add_logro("comandos", "comandos1.png", "bg_logro2.png");
                                                actividades['actividad3'] = true;
                                                toggleNav(true);
                                                comandos['email'] = true;
                                                $("#progressbar").css("width", "70%");
                                                $("#progressbar").attr("aria-valuenow", "70%");
                                                $('.stat-percent').html('70%');
                                                $("#comandos").addClass("animated bounce infinite text-warning").delay(10000).queue(function (next) {
                                                    $(this).removeClass("animated bounce infinite");
                                                    next();
                                                });

                                            }

                                        } else {
                                            if (data.comando.match($mkdir)) {

                                                toggleNav(true);
                                                $("#act4done").addClass('fa fa-check-circle');
                                                if (!actividades['actividad4'])
                                                    add_logro("comandos", "comandos1.png");
                                                comandos['mkdir'] = true;
                                                actividades['actividad4'] = true;
                                                $("#progressbar").css("width", "40%");
                                                $("#progressbar").attr("aria-valuenow", "40%");
                                                $('.stat-percent').html('40%');
                                                Reveal.slide(24);
                                                var state = Reveal.getState();
                                                Reveal.setState(state);

                                            } else if (data.comando.match($cd)) {
                                                if (data.salida.match($setCurrent)) {
                                                    comandos['cd'] = true;
                                                }
                                            }
                                            screen.append(data.salida);
                                        }
                                    }
                                    screen.append(data.salida);
                                } else {
                                    screen.append(data.error);
                                }
                            }
                        }else{
                            screen.append(data.error);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown, textStatus, XMLHttpRequest);

                        //setTimeout(waitForMsg, 300000);

                    },
                    complete: function () {
                        form.show();
                        $('#inputConsole').focus();
                    }

                });
                return false;
            });


            $('#elfinder').elfinder({
                url: "{{ asset('assets/vendor/elfinder/php/connector.minimal.php?cmd=ls&target=l1_d3JhbW9uZXM') }}",
                lang: 'es',
                height: 250,
                customData: {user: "{{ app.user }}"},
                handlers: {
                    dblclick: function (event, elfinderInstance) {
                        event.preventDefault();
                        elfinderInstance.exec('getfile')
                            .done(function () {
                                elfinderInstance.exec('quicklook');
                            })
                            .fail(function () {
                                elfinderInstance.exec('open');
                            });
                    },
                    commandsOptions : {
                        getfile: {
                            multiple: true,
                            folders: true
                        }
                    },
                    /*load: function(event, elfinder){
                        console.log("init");
                        console.log(elfinder);
                        elfinder.trigger("ls", "l1_Lw");

                    },
                    ls: function(event){
                        console.log(event);

                    },
                    open: function(event, manager){
                        console.log(event);
                      console.log(manager.fileByName("wramones","l1_Lw"));
                        for(dir in manager.files()){

                            if((manager.files()[dir].name != window.currentUser) && (manager.files()[dir].name != 'octonautas')){
                                actividades['actividad0'] = true;
                                actividades['actividad1'] = true;
                                actividades['actividad4'] = true;
                                comandos['mkdir'] = true;
                                comandos['version'] = true;
                                console.log(actividades);
                            }
                            if(manager.files()[dir].name == ".git"){
                                actividades['actividad2'] = true;
                                comandos['init'] = true;
                                comandos['cd'] = true;
                            }
                        }
                    },*/
                    add   : function(event) {
                        console.log(event.data);
                        if (event.data.added){
                            if (event.data.added[0].name != "{{ app.user.userName }}") {
                                console.log("archivo creado");


                                if (!actividades['actividad4'])
                                    add_logro("directorio_virtual", "directorio1.png");
                                    manejador['crear'] = true;
                                    actividades['actividad4'] = true;

                                $("#progressbar").css("width", "40%");
                                $("#progressbar").attr("aria-valuenow", "40%");
                                $('.stat-percent').html('40%');
                                Reveal.slide(24);
                                var state = Reveal.getState();
                                Reveal.setState(state);
                            }

                        }
                    },
                    enable: function (event){
                        console.log(event);
                    },
                },
                getFileCallback: function (files, fm) {
                    return false;
                },
                uiOptions: {
                    toolbar: [
                        // toolbar configuration
                        ['open', 'edit'],
                        ['home', 'up'],
                        ['info'],
                        ['reload'],
                        ['quicklook'],
                        ['view'],
                        ['help']
                    ]
                },
                contextmenu: {
                    // navbarfolder menu
                    navbar: ['open', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'info'],
                    // current directory menu
                    cwd: ['back', '|', 'mkdir', 'mkfile', 'paste', '|', 'info'],
                    // current directory file menu
                    files: [
                        'open', 'quicklook', '|',
                        'rm', '|', 'edit', 'rename', 'info'
                    ]
                }
            });




            Reveal.addEventListener('actividad0', function (event) {
                if (!actividades['actividad0']) {
                    toggleNav(false);
                }
            });


            Reveal.addEventListener('actividad1', function (event) {
                console.log(actividades);
                if (!actividades['actividad1']) {
                    toggleNav(false);
                }
            });

            Reveal.addEventListener('actividad2', function (event) {
                if (!actividades['actividad2']) {
                    toggleNav(false);
                }
            });

            Reveal.addEventListener('actividad3', function (event) {
                if (!actividades['actividad3']) {
                    toggleNav(false);
                }
            });

            Reveal.addEventListener('actividad4', function (event) {
                if (!actividades['actividad4']) {
                    toggleNav(false);
                }
            });


            Reveal.addEventListener('qz', function (event) {
                if (!actividades['actividad4']) {
                    toggleNav(false);
                }
            });

            //Debo estar pendiente si pasa a la lamina 15 sin hacer el ejercicio,
            //devolverlo a la 14
            Reveal.addEventListener('slidechanged', function (event) {
                // event.previousSlide, event.currentSlide, event.indexh, event.indexv


                console.log(event.indexh);


                if (event.indexh === 18) {
                    if (!actividades['actividad0']) {
                        add_logro("conceptos", "conceptos1.png");
                        actividades['actividad0'] = true;
                        $("#progressbar").css("width", "25%");
                        $("#progressbar").attr("aria-valuenow", "25%");
                        $('.stat-percent').html('25%');
                        $("#conceptos").addClass("animated bounce text-warning");

                        $("#conceptos").addClass("animated bounce infinite text-warning").delay(10000).queue(function(next){
                            $(this).removeClass("animated bounce infinite");
                            next();
                        });
                    }
                }

                if (event.indexh > 18) {
                    if (!actividades['actividad0']) {
                        Reveal.slide(1);
                        var state = Reveal.getState();
                        Reveal.setState(state);

                        iziToast.error({
                            title: 'No te adelantes tan rápido',
                            message: 'es importante navegar por todas las láminas para cumplir con las actividades',
                            position: 'topRight'
                        });


                    }

                }


                if (event.indexh > 19) {
                    if (!actividades['actividad1']) {
                        Reveal.slide(19);
                        var state = Reveal.getState();
                        Reveal.setState(state);

                        iziToast.error({
                            title: 'No te adelantes tan rápido',
                            message: 'es importante navegar por todas las láminas para cumplir con las actividades',
                            position: 'topRight'
                        });


                    }
                }


                if (event.indexh > 23) {
                    if (!actividades['actividad4']) {
                        Reveal.slide(21);
                        var state = Reveal.getState();
                        Reveal.setState(state);
                        iziToast.error({
                            title: 'No te adelantes tan rápido',
                            message: 'es importante navegar por todas las láminas para cumplir con las actividades',
                            position: 'topRight'
                        });

                    }
                }


                if (event.indexh > 26) {
                    if (!actividades['actividad2']) {
                        Reveal.slide(26);
                        var state = Reveal.getState();
                        Reveal.setState(state);
                        iziToast.error({
                            title: 'No te adelantes tan rápido',
                            message: 'es importante navegar por todas las láminas para cumplir con las actividades',
                            position: 'topRight'
                        });

                    }
                }

                if (event.indexh > 30) {
                    if (!actividades['actividad3']) {
                        Reveal.slide(30);
                        var state = Reveal.getState();
                        Reveal.setState(state);
                        iziToast.error({
                            title: 'No te adelantes tan rápido',
                            message: 'es importante navegar por todas las láminas para cumplir con las actividades',
                            position: 'topRight'
                        });

                    }
                }

                if (event.indexh == 32) {
                    if(!actividades['activiad5']){
                        toggleNav(false);
                    }
                    $("#btnQuiz").prop('disabled', false);
                    $("#btnQuiz").attr('disabled', false);
                    $("#btnQuiz").addClass("animated bounce infinite").delay(5000).queue(function(next){
                        $(this).removeClass("animated bounce infinite");
                        next();

                    });
                }

            });


        });
        $("#btnQuiz").prop('disabled', true);
        $("#btnQuiz").attr('disabled', 'disabled');

        $("#btnQuiz").click(function () {
            var $open = $("#quizOpen").val();
            if ($open) {
                $("#btnQuiz").prop('disabled', false);
                $("#btnQuiz").attr('disabled', false);
            } else {
                var isDisabled = $('#btnQuiz').is('[disabled=disabled]');
                if (isDisabled) {
                    iziToast.error({
                        title: 'Quiz todavía bloqueado',
                        message: 'Para desbloquearlo, debes obtener los dos primeros logros de este nivel',
                        position: 'topRight'
                    });
                }
            }

        });

        var $palabraGit = /^git$/g;
        var $comandoGit = /^git+\s+?\w?/g;
        var $mkdir = /^mkdir+\s+\w+( +\w+)*/g;
        var $cd = /^cd+\s+\w+( +\w+)*/g;
        var $gitEspacio = /^git+\s/g;
        var $configEspacio = /\bconfig+\s/g;
        var $configGlobal = /\bconfig\s+--global+\s/g;
        var $configUserName = /\bconfig\s+--global+\s+user.name+\s/g;
        var $configUserMail = /\b\s+user.email+\s/g;
        var $respuesta = /\bconfig\s+--global+\s+user.name+\s+"?\w{3,}"?/g;
        var $gitHelp = /^git+\s+\bhelp\s?\w?/g;
        var $gitInit = /^git+\s+\binit/g;
        var $gitConfigUser = /^git+\s+\bconfig\s+--global+\s+user.name+\s+"?\w{3,}"?/g;
        var $gitConfigList = /^git+\s+\bconfig\s+--list/g;
        var $gitVersion = /^git+\s+--version$/g;
        var $gitConfigMail = /^git+\s+\bconfig\s+--global+\s+user.email+\s+"?\w{3,}"?/g;
        var $gitConfigEditor = /^git+\s+\bconfig\s+--global+\s+core.editor+\s+"?\w{3,}"?/g;
        var $gitConfigColor = /^git+\s+\bconfig\s+--global+\s+color.ui+\s+"?\w{3,}"?/g;
        var $gitConfigLineAuto = /^git+\s+\bconfig\s+--global+\s+core.autocrlf+\s+input/g;
        var $gitConfigLineSafe = /^git+\s+\bconfig\s+--global+\s+core.safecrlf+\s+true/g;
        var $gitConfigList = /^git+\s+\bconfig\s+--list/g;
        var $c = 0;
        var name = "";
        var email = "";


        $(document).ready(function () {


            videojs.options.flash.swf = "{{ asset('assets/vendor/moovly/js/videojs/video-js.swf') }}";
            //alert(videojs);
            $contador = $("#contadorObtenidos").val();
            //alert($contador);
            for (var $i = 0; $i < $contador; $i++) {
                $('.progress-bar').css('width', $contador * 30 + '%');
                $('.stat-percent').html($contador * 30 + '%');
                $('.progress-bar').attr('aria-valuenow', $contador * 30);
            }

            $("#wizard").steps();

            // Instance the tour
            var tour = new Tour({
                steps: [{
                    title: "Bienvenido",
                    content: "¿Es la primera vez que ingresas verdad? Pues Entonces <strong>¡Bienvenido!</strong>  A través de esta guía te enseñaremos como está distribuida <i>Tu aula virtual</i> para que comiences de una vez a encender tu conocimiento.<br><br> Puedes utilizar las teclas de navegación izquiera y derecha para desplazarte a lo largo del tour. <br><br><img src='{{ asset('images/course/left-right-arrows.png') }}' alt='An opening code bracket' />",
                    placement: "bottom",
                    backdrop: true,
                    backdropContainer: '#wrapper',
                    orphan: true,
                },
                    {
                        element: "#tour1",
                        title: "¿En donde estoy?",
                        content: "Contiene el titulo del curso y en que módulo/clase te encuentras, cuantas has aprobado y cuanto te falta para culminar.",
                        placement: "bottom",
                        backdrop: true,
                        backdropContainer: '#wrapper',
                    },
                    {
                        element: "#tour2",
                        title: "Módulos del Curso",
                        content: "Contiene en amarillo tu ubicación actual, en negro lo que falta y en azul lo que has completado.  <strong>Si pasas sobre ellos</strong>, podrás ver el título del módulo",
                        placement: "bottom",
                        onShown: function (tour) {
                            $('body').addClass('tour-open');
                        },
                        onHidden: function (tour) {
                            $('body').removeClass('tour-close');
                        }
                    },
                    {
                        element: "#tour3",
                        title: "Clase Virtual",
                        content: "En esta sección podrás disfrutar de una manera siempre interactiva de la clase correspondiente al módulo donde estás ubicado.  siempre estarán disponibles para ti para cuando las necesites.",
                        placement: "right",
                        backdrop: true,
                        backdropContainer: '#wrapper'
                    },
                    {
                        element: "#tour4",
                        title: "Área de Trabajo",
                        content: "Aquí es donde nos ensuciaremos las manos y encenderemos nuestros conocimientos, colocando manos a la obra sobre los aprendido en la clase virtual.",
                        placement: "left",
                        backdrop: true,
                        backdropContainer: '#wrapper'
                    }
                ]
            });

            // Initialize the tour
            tour.init();

            $('.startTour').click(function () {
                tour.restart();

                // Start the tour
                // tour.start();
            });

        });


        $(document).keydown(function (e) {

            var previous = 37, next = 39;

            switch (e.keyCode) {
                case previous:

                    $('.flipbook').turn('previous');

                    break;
                case next:

                    $('.flipbook').turn('next');

                    break;
            }

        });

        function loadApp() {

            // Create the flipbook


            $('.flipbook').turn({
                // Width

                width: 822,
                // Height

                height: 600,
                // Elevation

                elevation: 10,
                // Enable gradients

                gradients: false,
                // Auto center this flipbook

                autoCenter: true

            });
        }

        // Load the HTML4 version if there's not CSS transform

        yepnope({
            test: Modernizr.csstransforms,
            yep: ['{{ asset("assets/vendor/turnjs/turn.js") }}'],
            nope: ['{{ asset("assets/vendor/turnjs/turn.html4.min.js") }}'],
            both: ['{{ asset("assets/vendor/turnjs/basic.css") }}'],
            complete: loadApp
        });


        var $loading = $('#loadingBulb').hide();
        var $guardado = $('#guardado').show();
        $(document)
            .ajaxStart(function () {
                $guardado.hide();
                $loading.show();
            })
            .ajaxStop(function () {
                $loading.hide();
                $guardado.show();
            });


        $(window).load(function (e) {
            $("#inputConsole").click();
        });


        function toggleNav(b) {
            Reveal.configure({
                controls: b,
                progress: b,
                keyboard: b,
                overview: b,
                touch: b
            });
        }




    </script>



{% endblock %}
