{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>Modulo list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modulo in modulos %}
            <tr>
                <td><a href="{{ path('admin_gestion_modulos_show', { 'id': modulo.id }) }}">{{ modulo.nombre }}</a></td>
                <td>{{ modulo.descripcion }}</td>
                <td>{{ modulo.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_gestion_modulos_show', { 'id': modulo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gestion_modulos_edit', { 'id': modulo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_modulos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
