{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cursos</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ curso.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ curso.descripcion }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ curso.codigo }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ curso.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_cursos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_gestion_cursos_edit', { 'id': curso.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
