{% extends 'base.html.twig' %}

{% block body %}
    <h1>Curso list</h1>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Cupo</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td><a href="{{ path('admin_gestion_cursos_show', { 'id': curso.id }) }}">{{ curso.titulo }}</a></td>
                <td>{{ curso.descripcion }}</td>
                <td>{{ curso.cupo }}</td>
                <td>{{ curso.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_gestion_cursos_show', { 'id': curso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gestion_cursos_edit', { 'id': curso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_cursos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
