{% extends 'base.html.twig' %}

{% block body %}
    <h1>CategoriaCursos list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoriaCurso in categoriaCursos %}
            <tr>
                <td><a href="{{ path('admin_gestion_categorias_show', { 'id': categoriaCurso.id }) }}">{{ categoriaCurso.nombre }}</a></td>
                <td>{{ categoriaCurso.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_gestion_categorias_show', { 'id': categoriaCurso.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_gestion_categorias_edit', { 'id': categoriaCurso.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_categorias_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
