<h2>Estimado(a) Docente {{ nombres  }} {{ apellidos }}, su solicitud de Servicio: {{ servicio.idServicioCe.nombre}}</h2>
<h4>Ha Cambiado de Estatus y tu solicitud se encuentra ahora: {{ servicio.idEstatus.nombre}}</h4>


Para hacer login dirigete simplemente a la página de ingreso del Portal del Centro de Estudios Ambientales
: <a href="{{ url('login') }}">Login CEA@UBV</a>.
