{% extends 'base_app.html.twig' %}

{%block body %} 
    <div class="container">
     <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Listado de solicitudes de Adscripción Al CEA</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th> Id </th>
                    <th> Datos del Docente </th>
                    <th> Area de Adscripción</th>
                    <th> Eje Adscripción</th>                    
                    <th> Estado</th>                    
                    <th> Acciones</th> 
                  </tr>
                </thead>
                <tbody>
                    {% for adscripcion in adscripciones %}
                  <tr>
                      <td>{{adscripcion.id}}</td>
                    <td>                         
                        {{adscripcion.idRolInstitucion.idRol.idPersona.PrimerNombre}}
                        {{adscripcion.idRolInstitucion.idRol.idPersona.PrimerApellido}}
                        ( {{adscripcion.idRolInstitucion}} )
                        
                         
                    </td>
                    <td>
                        {{adscripcion.idRolInstitucion.IdRol.IdAreaPersona.nombre}}
                    </td>
                    <td>
                        {{adscripcion.idRolInstitucion.idInstitucion.idEjeParroquia.IdEje}}                         
                    </td>                    
                    <td>{{adscripcion.idRolInstitucion.idInstitucion.idEjeParroquia.idParroquia.idMunicipio.idEstado}} </td>
                    <td>
                        <a href="javascript:;" class="btn btn-xs btn-info"><i class="fa fa-eye"> </i></a>
                        <a href="javascript:;" class="btn btn-xs btn-success"><i class="fa fa-check"> </i></a>
                        <a href="javascript:;" class="btn btn-danger btn-xs"><i class="fa fa-times"> </i></a></td>
                    </td>
                       
                  </tr>
                  {% endfor %}                  
                
                </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
          <!-- /widget --> 
         </div>
    <!-- /container --> 
{% endblock %}
