{% extends 'base_app.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/lightbox2/dist/css/lightbox.css') }}" rel="stylesheet">
{% endblock %}

{%block body %} 

     <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Solicitud de Adscripción número <code>{{adscripcion.id}}</code>: {{ adscripcion.idRolInstitucion.idRol.idPersona.primerNombre }}, {{ adscripcion.idRolInstitucion.idRol.idPersona.primerApellido }} </h4>

                </div>

            </div>
            <div class="row">
                
                <div class="col-md-6">

                    <div class="col-md-4">
                        <img src="{{ asset('bundles/framework/images/portal/logo_ubv.png') }}" />
                    </div>

                    <div class="col-md-8">                    
                    <form action="{{ path('login') }}" method="post" role="form" >
                        
                        <div class="form-group">
                            <label for="username">Fecha de Ingreso UBV:</label>
                            <input type="date" class="form-control" id="username" name="primerApellido" value="{{ adscripcion.fechaIngreso|date('Y-m-d') }}" />
                        </div>
                        
                        <div class="form-group">
                            <label for="Escalafones">Escalafones:</label>
                             <table class="table table-striped table-bordered">
                                    <th>Escalafón</th>
                                    <th>Fecha</th>
                                    <th>Tipo</th>
                            {% for escala in escalas %}
                               
                                    <tr>
                                        <td>{{escala.idEscala }}</td>
                                        <td>{{escala.fechaEscala | date('d-m-Y') }}</td>
                                        <td>{{escala.idTipoEscala }}</td>
                                    </tr>                                                                                                    
                            {%endfor %}
                            </table>
                            
                        </div>
                        
                        <div class="form-group">
                            <label for="username">Area y Línea de Investigación:</label>
                            <ul>
                                <li>{{adscripcion.idLineaInvestigacion.idAreaInvestigacion}}</li>
                                <li>{{adscripcion.idLineaInvestigacion}}</li>
                            </ul>                            
                        </div>     
                            
                        <div class="form-group">
                             <label for="titulo">Título del Trabajo:</label>
                             <input type="text" class="form-control" value="{{adscripcion.tituloTrabajo}}" />
                            

                        </div>
                         

                        

                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-user"></span>&nbsp;Ingresar</button>
                    </form>
                    <hr />
                        </div>
                </div>
                             
                <div class="col-md-5">

                     <div class="widget-content">
                         <h3>Documentos Consignados</h3>
                         <a href="{{asset('bundles/framework/images/portal/logo_ubv.png')}}" data-lightbox="roadtrip">#2</a>    
                       

                    </div>
                </div>

            </div>
        </div>
    </div>
    
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/vendor/lightbox2/dist/js/lightbox.min.js') }}"></script>
    {% endblock %}