{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent()}}
    <link href="{{ asset('bundles/AppBundle/css/portal.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendor/animate/animate.min.css') }}" rel="stylesheet" />
    <style>
        .form-signin {
            max-width: 330px;
            margin: 0 auto;            
        }
        
        .subtitle{
            margin-bottom: 50px;
        }
    </style>
{% endblock %}

{%  block enlaces %}        
        <li ><a data-scroll href="{{ path('homepage') }}"><i class="fa fa-home"></i> Regresar al portal</a></li>
    {% endblock %}

{% block body %} 
    
     
    
    <section id="area-principal">
                <div class="container">
                    
                    <div class="col-md-12">
                            <h1 class="title"><img class="encabezado" src="{{ asset('bundles/AppBundle/images/portal/encabezado.png') }}" /></h1>                            
                            <h2 class="subtitle"><i class="fa fa-lightbulb-o fa-2x yellow"></i>¡Enciende Tu Conocimiento!</h2>
                    </div>                 
                            
                            <div class="row">
                                
                    <form action="{{ path('login') }}" method="POST" role="form" class="form-signin">
                       {% if error %}
                           <div class="form-group col-md-12">
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                           </div>
                    {% endif %}
                        <div class="form-group">
                            
                            <input type="text" class="form-control" placeholder="nombre de usuario..." id="username" name="_username" value="{{ last_username }}" />
                        </div>

                        <div class="form-group">
                            
                            <input type="password" class="form-control" id="password" name="_password" placeholder="Contraseña..." />
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >


                        <input type="hidden" name="_target_path" value="homepage" />
 


                        <button id="ingresar" class="btn btn-success" type="submit" data-loading-text="Verificando..."><span class="glyphicon glyphicon-user"></span>&nbsp;Ingresar</button>
                        <a href="{{ path('registrarse') }}">&nbsp;¿No te has registrado? </a>
                    </form>
                    </div>
                </div>
    </section>
{% endblock %}

{% block javascripts %} 
            {{ parent() }}
            <script type="text/javascript" src="{{ asset('assets/vendor/smooth-scroll/smooth-scroll.min.js') }}" ></script>
            <script>
                    $('#ingresar').on('click', function () {
                        $(this).button('loading');                        
                    });
            </script>
        {% endblock %}