{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>CursoModulo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cursoModulo.id }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if cursoModulo.FechaInicio %}{{ cursoModulo.FechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if cursoModulo.FechaFin %}{{ cursoModulo.FechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ cursoModulo.orden }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_gestion_curso_modulos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_gestion_curso_modulos_edit', { 'id': cursoModulo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
